In [117]:
import pandas as pd
import numpy as np

In [118]:
df = pd.read_csv("data/seoul_coffee.csv", encoding='cp949')
df

,인허가일자,인허가취소일자,영업상태명,상세영업상태코드,상세영업상태명,폐업일자,소재지면적,지번주소,도로명주소,사업장명,업태구분명,좌표정보(X),좌표정보(Y)
0,20200713,NaN,영업/정상,1,영업,NaN,329.89,서울특별시 송파구 방이동 44-3 현대토픽스,서울특별시 송파구 위례성대로 6 1층 (방이동),스타벅스 몽촌토성역점,커피숍,209929.5748,446085.1213
1,20200713,NaN,영업/정상,1,영업,NaN,26.00,서울특별시 동대문구 전농동 38-104,서울특별시 동대문구 전농로16길 54 1층 (전농동),Min's coffee,커피숍,205263.8264,452869.9925
2,20200713,NaN,영업/정상,1,영업,NaN,15.46,서울특별시 강서구 마곡동 773 힐스테이트에코마곡역 302호,서울특별시 강서구 마곡중앙로 76 힐스테이트에코마곡역 3층 302호 (마곡동),티오르카페,커피숍,NaN,NaN
3,20200713,NaN,영업/정상,1,영업,NaN,13.20,서울특별시 관악구 신림동 608-30,서울특별시 관악구 난우길 20 지하1층 (신림동),애견용품할인매장,커피숍,192733.8329,441403.5423
4,20200713,NaN,영업/정상,1,영업,NaN,247.50,서울특별시 성북구 성북동 8-28,서울특별시 성북구 선잠로2다길 13-13 지하1층 (성북동),오버스토리,커피숍,199901.9764,455159.3438
...,...,...,...,...,...,...,...,...,...,...,...,...,...
63346,20140807,NaN,폐업,2,폐업,20211207.0,26.40,서울특별시 광진구 자양동 229-1 (1층),서울특별시 광진구 아차산로44길 41 1층 (자양동),카페주전자,커피숍,206892.0792,448225.6910
63347,20140319,NaN,폐업,2,폐업,20211207.0,77.40,서울특별시 강서구 염창동 248-3 삼성하나로아파트상가 1층 104~105호,서울특별시 강서구 양천로73길 5 1층 104~105호 (염창동 삼성하나로아파트상가),커피베이 강서염창점,커피숍,188611.3283,449936.9551
63348,20130806,NaN,영업/정상,1,영업,NaN,130.15,서울특별시 성북구 길음동 20-1 현대백화점미아점 9층,서울특별시 성북구 동소문로 315 (길음동 현대백화점미아점 9층),키커피컴퍼니,기타 휴게음식점,202466.8011,456227.5717
63349,20111021,NaN,폐업,2,폐업,20211207.0,24.00,서울특별시 강서구 방화동 886-0 김포공항 공항철도역 (지하 3층),서울특별시 강서구 하늘길 지하 77 3층 (방화동 2동 김포공항 공항철도역),델트렌 김포공항역지점,커피숍,182524.8238,451438.2509
63350,20040323,NaN,폐업,2,폐업,20211207.0,13.20,서울특별시 성동구 행당동 140 레몬프라자 지하2층,서울특별시 성동구 고산자로6길 40 (행당동레몬프라자 지하2층),미라클스넥,기타 휴게음식점,203071.9592,450665.5326

## 인덱스 찾아서 열 삭제 함수 정의

In [119]:
def s_str(data):
    global df
    select_index = df[df['사업장명'].str.contains(data)].index
    print(select_index)
    df = df.drop(index=select_index)
    print(df.shape)

### 사업장명에 다방문구 들어간 인덱스 담기

In [120]:
dabang = df[df['사업장명'].str.contains('다방')].index

In [121]:
df[df['사업장명'].str.contains('빽다방')]

,인허가일자,인허가취소일자,영업상태명,상세영업상태코드,상세영업상태명,폐업일자,소재지면적,지번주소,도로명주소,사업장명,업태구분명,좌표정보(X),좌표정보(Y)
216,20200722,NaN,영업/정상,1,영업,NaN,39.47,서울특별시 동대문구 답십리동 243-2,서울특별시 동대문구 전농로 97-1 1층 (답십리동),빽다방 답십리사거리점,기타 휴게음식점,204991.6882,452379.4438
247,20150818,NaN,영업/정상,1,영업,NaN,33.00,서울특별시 서대문구 홍제동 137-12,서울특별시 서대문구 통일로 426 1층 (홍제동),홍제삼거리점 빽다방,커피숍,195184.0969,453892.9799
556,20140114,NaN,영업/정상,1,영업,NaN,98.50,서울특별시 종로구 적선동 93-4,서울특별시 종로구 사직로 127 1~3층 (적선동),빽다방 경복궁역점,커피숍,197551.4229,452639.9503
3784,20151106,NaN,영업/정상,1,영업,NaN,36.73,서울특별시 중구 명동2가 101-3번지 1층,서울특별시 중구 남대문로 58-1 (명동2가 1층),빽다방명동중앙우체국점,커피숍,198327.0771,451128.8388
4003,20160212,NaN,영업/정상,1,영업,NaN,18.84,서울특별시 중구 남창동 281-17번지 1층,서울특별시 중구 퇴계로 37 1층 (남창동),빽다방 남대문시장점,커피숍,197839.1967,450686.2040
...,...,...,...,...,...,...,...,...,...,...,...,...,...
62815,20210820,NaN,영업/정상,1,영업,NaN,45.36,서울특별시 강서구 마곡동 798-2 류마타워 1층 105호,서울특별시 강서구 공항대로 164 류마타워 1층 105호 (마곡동),빽다방 마곡역류마타워점,커피숍,NaN,NaN
62922,20141210,NaN,폐업,2,폐업,20211115.0,17.12,서울특별시 영등포구 여의도동 14-24 삼보호정빌딩 1층,서울특별시 영등포구 국회대로68길 11 (여의도동 삼보호정빌딩 1층),빽다방서여의도점,커피숍,192831.4783,447442.5964
62963,20211117,NaN,영업/정상,1,영업,NaN,97.71,서울특별시 도봉구 쌍문동 19 쌍문동 LG트윈빌1 1층 105호,서울특별시 도봉구 도당로 10 1층 105호 (쌍문동 쌍문동 LG트윈빌1),빽다방 쌍문세라믹점,커피숍,203048.6693,461867.6479
63222,20211201,NaN,영업/정상,1,영업,NaN,57.77,서울특별시 금천구 가산동 371-41 가산 에스케이 브이원 센터 102호,서울특별시 금천구 가산디지털1로 171 가산 에스케이 브이원 센터 1층 102호 (...,빽다방 가산SKV1점,커피숍,189378.3325,442066.9987
63281,20211203,NaN,영업/정상,1,영업,NaN,66.00,서울특별시 동작구 상도동 501 동호빌딩,서울특별시 동작구 사당로 10 동호빌딩 지층 좌측호 (상도동),빽다방 숭실대점,커피숍,195989.3302,443681.2071

### 사업장명중 빽다방 글자가 포함된 열은 다른 df2에 담아두기

In [122]:
df2 = df[df['사업장명'].str.contains('빽다방')]
df2

,인허가일자,인허가취소일자,영업상태명,상세영업상태코드,상세영업상태명,폐업일자,소재지면적,지번주소,도로명주소,사업장명,업태구분명,좌표정보(X),좌표정보(Y)
216,20200722,NaN,영업/정상,1,영업,NaN,39.47,서울특별시 동대문구 답십리동 243-2,서울특별시 동대문구 전농로 97-1 1층 (답십리동),빽다방 답십리사거리점,기타 휴게음식점,204991.6882,452379.4438
247,20150818,NaN,영업/정상,1,영업,NaN,33.00,서울특별시 서대문구 홍제동 137-12,서울특별시 서대문구 통일로 426 1층 (홍제동),홍제삼거리점 빽다방,커피숍,195184.0969,453892.9799
556,20140114,NaN,영업/정상,1,영업,NaN,98.50,서울특별시 종로구 적선동 93-4,서울특별시 종로구 사직로 127 1~3층 (적선동),빽다방 경복궁역점,커피숍,197551.4229,452639.9503
3784,20151106,NaN,영업/정상,1,영업,NaN,36.73,서울특별시 중구 명동2가 101-3번지 1층,서울특별시 중구 남대문로 58-1 (명동2가 1층),빽다방명동중앙우체국점,커피숍,198327.0771,451128.8388
4003,20160212,NaN,영업/정상,1,영업,NaN,18.84,서울특별시 중구 남창동 281-17번지 1층,서울특별시 중구 퇴계로 37 1층 (남창동),빽다방 남대문시장점,커피숍,197839.1967,450686.2040
...,...,...,...,...,...,...,...,...,...,...,...,...,...
62815,20210820,NaN,영업/정상,1,영업,NaN,45.36,서울특별시 강서구 마곡동 798-2 류마타워 1층 105호,서울특별시 강서구 공항대로 164 류마타워 1층 105호 (마곡동),빽다방 마곡역류마타워점,커피숍,NaN,NaN
62922,20141210,NaN,폐업,2,폐업,20211115.0,17.12,서울특별시 영등포구 여의도동 14-24 삼보호정빌딩 1층,서울특별시 영등포구 국회대로68길 11 (여의도동 삼보호정빌딩 1층),빽다방서여의도점,커피숍,192831.4783,447442.5964
62963,20211117,NaN,영업/정상,1,영업,NaN,97.71,서울특별시 도봉구 쌍문동 19 쌍문동 LG트윈빌1 1층 105호,서울특별시 도봉구 도당로 10 1층 105호 (쌍문동 쌍문동 LG트윈빌1),빽다방 쌍문세라믹점,커피숍,203048.6693,461867.6479
63222,20211201,NaN,영업/정상,1,영업,NaN,57.77,서울특별시 금천구 가산동 371-41 가산 에스케이 브이원 센터 102호,서울특별시 금천구 가산디지털1로 171 가산 에스케이 브이원 센터 1층 102호 (...,빽다방 가산SKV1점,커피숍,189378.3325,442066.9987
63281,20211203,NaN,영업/정상,1,영업,NaN,66.00,서울특별시 동작구 상도동 501 동호빌딩,서울특별시 동작구 사당로 10 동호빌딩 지층 좌측호 (상도동),빽다방 숭실대점,커피숍,195989.3302,443681.2071

In [123]:
dabang

Int64Index([  205,   216,   239,   247,   289,   315,   417,   556,   723,
              766,
            ...
            62577, 62584, 62610, 62697, 62815, 62922, 62963, 63120, 63222,
            63281],
           dtype='int64', length=3897)

### df 사업장명중 다방글자가 들어간 행 삭제

In [124]:
df = df.drop(index=dabang)
df

,인허가일자,인허가취소일자,영업상태명,상세영업상태코드,상세영업상태명,폐업일자,소재지면적,지번주소,도로명주소,사업장명,업태구분명,좌표정보(X),좌표정보(Y)
0,20200713,NaN,영업/정상,1,영업,NaN,329.89,서울특별시 송파구 방이동 44-3 현대토픽스,서울특별시 송파구 위례성대로 6 1층 (방이동),스타벅스 몽촌토성역점,커피숍,209929.5748,446085.1213
1,20200713,NaN,영업/정상,1,영업,NaN,26.00,서울특별시 동대문구 전농동 38-104,서울특별시 동대문구 전농로16길 54 1층 (전농동),Min's coffee,커피숍,205263.8264,452869.9925
2,20200713,NaN,영업/정상,1,영업,NaN,15.46,서울특별시 강서구 마곡동 773 힐스테이트에코마곡역 302호,서울특별시 강서구 마곡중앙로 76 힐스테이트에코마곡역 3층 302호 (마곡동),티오르카페,커피숍,NaN,NaN
3,20200713,NaN,영업/정상,1,영업,NaN,13.20,서울특별시 관악구 신림동 608-30,서울특별시 관악구 난우길 20 지하1층 (신림동),애견용품할인매장,커피숍,192733.8329,441403.5423
4,20200713,NaN,영업/정상,1,영업,NaN,247.50,서울특별시 성북구 성북동 8-28,서울특별시 성북구 선잠로2다길 13-13 지하1층 (성북동),오버스토리,커피숍,199901.9764,455159.3438
...,...,...,...,...,...,...,...,...,...,...,...,...,...
63346,20140807,NaN,폐업,2,폐업,20211207.0,26.40,서울특별시 광진구 자양동 229-1 (1층),서울특별시 광진구 아차산로44길 41 1층 (자양동),카페주전자,커피숍,206892.0792,448225.6910
63347,20140319,NaN,폐업,2,폐업,20211207.0,77.40,서울특별시 강서구 염창동 248-3 삼성하나로아파트상가 1층 104~105호,서울특별시 강서구 양천로73길 5 1층 104~105호 (염창동 삼성하나로아파트상가),커피베이 강서염창점,커피숍,188611.3283,449936.9551
63348,20130806,NaN,영업/정상,1,영업,NaN,130.15,서울특별시 성북구 길음동 20-1 현대백화점미아점 9층,서울특별시 성북구 동소문로 315 (길음동 현대백화점미아점 9층),키커피컴퍼니,기타 휴게음식점,202466.8011,456227.5717
63349,20111021,NaN,폐업,2,폐업,20211207.0,24.00,서울특별시 강서구 방화동 886-0 김포공항 공항철도역 (지하 3층),서울특별시 강서구 하늘길 지하 77 3층 (방화동 2동 김포공항 공항철도역),델트렌 김포공항역지점,커피숍,182524.8238,451438.2509
63350,20040323,NaN,폐업,2,폐업,20211207.0,13.20,서울특별시 성동구 행당동 140 레몬프라자 지하2층,서울특별시 성동구 고산자로6길 40 (행당동레몬프라자 지하2층),미라클스넥,기타 휴게음식점,203071.9592,450665.5326

### 빽다방 DF 붙이기

In [125]:
df =  pd.concat([df, df2])
df

,인허가일자,인허가취소일자,영업상태명,상세영업상태코드,상세영업상태명,폐업일자,소재지면적,지번주소,도로명주소,사업장명,업태구분명,좌표정보(X),좌표정보(Y)
0,20200713,NaN,영업/정상,1,영업,NaN,329.89,서울특별시 송파구 방이동 44-3 현대토픽스,서울특별시 송파구 위례성대로 6 1층 (방이동),스타벅스 몽촌토성역점,커피숍,209929.5748,446085.1213
1,20200713,NaN,영업/정상,1,영업,NaN,26.00,서울특별시 동대문구 전농동 38-104,서울특별시 동대문구 전농로16길 54 1층 (전농동),Min's coffee,커피숍,205263.8264,452869.9925
2,20200713,NaN,영업/정상,1,영업,NaN,15.46,서울특별시 강서구 마곡동 773 힐스테이트에코마곡역 302호,서울특별시 강서구 마곡중앙로 76 힐스테이트에코마곡역 3층 302호 (마곡동),티오르카페,커피숍,NaN,NaN
3,20200713,NaN,영업/정상,1,영업,NaN,13.20,서울특별시 관악구 신림동 608-30,서울특별시 관악구 난우길 20 지하1층 (신림동),애견용품할인매장,커피숍,192733.8329,441403.5423
4,20200713,NaN,영업/정상,1,영업,NaN,247.50,서울특별시 성북구 성북동 8-28,서울특별시 성북구 선잠로2다길 13-13 지하1층 (성북동),오버스토리,커피숍,199901.9764,455159.3438
...,...,...,...,...,...,...,...,...,...,...,...,...,...
62815,20210820,NaN,영업/정상,1,영업,NaN,45.36,서울특별시 강서구 마곡동 798-2 류마타워 1층 105호,서울특별시 강서구 공항대로 164 류마타워 1층 105호 (마곡동),빽다방 마곡역류마타워점,커피숍,NaN,NaN
62922,20141210,NaN,폐업,2,폐업,20211115.0,17.12,서울특별시 영등포구 여의도동 14-24 삼보호정빌딩 1층,서울특별시 영등포구 국회대로68길 11 (여의도동 삼보호정빌딩 1층),빽다방서여의도점,커피숍,192831.4783,447442.5964
62963,20211117,NaN,영업/정상,1,영업,NaN,97.71,서울특별시 도봉구 쌍문동 19 쌍문동 LG트윈빌1 1층 105호,서울특별시 도봉구 도당로 10 1층 105호 (쌍문동 쌍문동 LG트윈빌1),빽다방 쌍문세라믹점,커피숍,203048.6693,461867.6479
63222,20211201,NaN,영업/정상,1,영업,NaN,57.77,서울특별시 금천구 가산동 371-41 가산 에스케이 브이원 센터 102호,서울특별시 금천구 가산디지털1로 171 가산 에스케이 브이원 센터 1층 102호 (...,빽다방 가산SKV1점,커피숍,189378.3325,442066.9987
63281,20211203,NaN,영업/정상,1,영업,NaN,66.00,서울특별시 동작구 상도동 501 동호빌딩,서울특별시 동작구 사당로 10 동호빌딩 지층 좌측호 (상도동),빽다방 숭실대점,커피숍,195989.3302,443681.2071

### df 사업장명중 분식글자가 들어간 행 삭제

In [126]:
bunsic = df[df['사업장명'].str.contains('분식')].index

In [127]:
bunsic

Int64Index([   64,   499,   573,   813,  1060,  1319,  1891,  1921,  1954,
             1993,
            ...
            61377, 61405, 61728, 62287, 62539, 62668, 62700, 62833, 62980,
            63244],
           dtype='int64', length=426)

In [128]:
df = df.drop(index=bunsic)
df

,인허가일자,인허가취소일자,영업상태명,상세영업상태코드,상세영업상태명,폐업일자,소재지면적,지번주소,도로명주소,사업장명,업태구분명,좌표정보(X),좌표정보(Y)
0,20200713,NaN,영업/정상,1,영업,NaN,329.89,서울특별시 송파구 방이동 44-3 현대토픽스,서울특별시 송파구 위례성대로 6 1층 (방이동),스타벅스 몽촌토성역점,커피숍,209929.5748,446085.1213
1,20200713,NaN,영업/정상,1,영업,NaN,26.00,서울특별시 동대문구 전농동 38-104,서울특별시 동대문구 전농로16길 54 1층 (전농동),Min's coffee,커피숍,205263.8264,452869.9925
2,20200713,NaN,영업/정상,1,영업,NaN,15.46,서울특별시 강서구 마곡동 773 힐스테이트에코마곡역 302호,서울특별시 강서구 마곡중앙로 76 힐스테이트에코마곡역 3층 302호 (마곡동),티오르카페,커피숍,NaN,NaN
3,20200713,NaN,영업/정상,1,영업,NaN,13.20,서울특별시 관악구 신림동 608-30,서울특별시 관악구 난우길 20 지하1층 (신림동),애견용품할인매장,커피숍,192733.8329,441403.5423
4,20200713,NaN,영업/정상,1,영업,NaN,247.50,서울특별시 성북구 성북동 8-28,서울특별시 성북구 선잠로2다길 13-13 지하1층 (성북동),오버스토리,커피숍,199901.9764,455159.3438
...,...,...,...,...,...,...,...,...,...,...,...,...,...
62815,20210820,NaN,영업/정상,1,영업,NaN,45.36,서울특별시 강서구 마곡동 798-2 류마타워 1층 105호,서울특별시 강서구 공항대로 164 류마타워 1층 105호 (마곡동),빽다방 마곡역류마타워점,커피숍,NaN,NaN
62922,20141210,NaN,폐업,2,폐업,20211115.0,17.12,서울특별시 영등포구 여의도동 14-24 삼보호정빌딩 1층,서울특별시 영등포구 국회대로68길 11 (여의도동 삼보호정빌딩 1층),빽다방서여의도점,커피숍,192831.4783,447442.5964
62963,20211117,NaN,영업/정상,1,영업,NaN,97.71,서울특별시 도봉구 쌍문동 19 쌍문동 LG트윈빌1 1층 105호,서울특별시 도봉구 도당로 10 1층 105호 (쌍문동 쌍문동 LG트윈빌1),빽다방 쌍문세라믹점,커피숍,203048.6693,461867.6479
63222,20211201,NaN,영업/정상,1,영업,NaN,57.77,서울특별시 금천구 가산동 371-41 가산 에스케이 브이원 센터 102호,서울특별시 금천구 가산디지털1로 171 가산 에스케이 브이원 센터 1층 102호 (...,빽다방 가산SKV1점,커피숍,189378.3325,442066.9987
63281,20211203,NaN,영업/정상,1,영업,NaN,66.00,서울특별시 동작구 상도동 501 동호빌딩,서울특별시 동작구 사당로 10 동호빌딩 지층 좌측호 (상도동),빽다방 숭실대점,커피숍,195989.3302,443681.2071

### df 사업장명중 애견글자가 들어간 행 삭제

In [129]:
animal = df[df['사업장명'].str.contains('애견')].index
animal

Int64Index([    3, 11052, 11232, 11409, 14300, 19078, 26069, 29498, 48444,
            53269, 56143, 59204, 60877],
           dtype='int64')

In [130]:
df = df.drop(index=animal)
df

,인허가일자,인허가취소일자,영업상태명,상세영업상태코드,상세영업상태명,폐업일자,소재지면적,지번주소,도로명주소,사업장명,업태구분명,좌표정보(X),좌표정보(Y)
0,20200713,NaN,영업/정상,1,영업,NaN,329.89,서울특별시 송파구 방이동 44-3 현대토픽스,서울특별시 송파구 위례성대로 6 1층 (방이동),스타벅스 몽촌토성역점,커피숍,209929.5748,446085.1213
1,20200713,NaN,영업/정상,1,영업,NaN,26.00,서울특별시 동대문구 전농동 38-104,서울특별시 동대문구 전농로16길 54 1층 (전농동),Min's coffee,커피숍,205263.8264,452869.9925
2,20200713,NaN,영업/정상,1,영업,NaN,15.46,서울특별시 강서구 마곡동 773 힐스테이트에코마곡역 302호,서울특별시 강서구 마곡중앙로 76 힐스테이트에코마곡역 3층 302호 (마곡동),티오르카페,커피숍,NaN,NaN
4,20200713,NaN,영업/정상,1,영업,NaN,247.50,서울특별시 성북구 성북동 8-28,서울특별시 성북구 선잠로2다길 13-13 지하1층 (성북동),오버스토리,커피숍,199901.9764,455159.3438
5,20200713,NaN,영업/정상,1,영업,NaN,38.55,서울특별시 용산구 한강로3가 40-605,서울특별시 용산구 한강대로7길 6 1층 (한강로3가),라라,커피숍,196619.4558,446894.9870
...,...,...,...,...,...,...,...,...,...,...,...,...,...
62815,20210820,NaN,영업/정상,1,영업,NaN,45.36,서울특별시 강서구 마곡동 798-2 류마타워 1층 105호,서울특별시 강서구 공항대로 164 류마타워 1층 105호 (마곡동),빽다방 마곡역류마타워점,커피숍,NaN,NaN
62922,20141210,NaN,폐업,2,폐업,20211115.0,17.12,서울특별시 영등포구 여의도동 14-24 삼보호정빌딩 1층,서울특별시 영등포구 국회대로68길 11 (여의도동 삼보호정빌딩 1층),빽다방서여의도점,커피숍,192831.4783,447442.5964
62963,20211117,NaN,영업/정상,1,영업,NaN,97.71,서울특별시 도봉구 쌍문동 19 쌍문동 LG트윈빌1 1층 105호,서울특별시 도봉구 도당로 10 1층 105호 (쌍문동 쌍문동 LG트윈빌1),빽다방 쌍문세라믹점,커피숍,203048.6693,461867.6479
63222,20211201,NaN,영업/정상,1,영업,NaN,57.77,서울특별시 금천구 가산동 371-41 가산 에스케이 브이원 센터 102호,서울특별시 금천구 가산디지털1로 171 가산 에스케이 브이원 센터 1층 102호 (...,빽다방 가산SKV1점,커피숍,189378.3325,442066.9987
63281,20211203,NaN,영업/정상,1,영업,NaN,66.00,서울특별시 동작구 상도동 501 동호빌딩,서울특별시 동작구 사당로 10 동호빌딩 지층 좌측호 (상도동),빽다방 숭실대점,커피숍,195989.3302,443681.2071

### df 사업장명중 마트글자가 들어간 행 삭제

In [131]:
mart = df[df['사업장명'].str.contains('마트')].index
mart

Int64Index([  103,   106,   428,   440,   470,   607,   787,   810,   902,
              905,
            ...
            62306, 62516, 62557, 62894, 62918, 63047, 63053, 63117, 63266,
            20970],
           dtype='int64', length=402)

In [132]:
df = df.drop(index=mart)
df

,인허가일자,인허가취소일자,영업상태명,상세영업상태코드,상세영업상태명,폐업일자,소재지면적,지번주소,도로명주소,사업장명,업태구분명,좌표정보(X),좌표정보(Y)
0,20200713,NaN,영업/정상,1,영업,NaN,329.89,서울특별시 송파구 방이동 44-3 현대토픽스,서울특별시 송파구 위례성대로 6 1층 (방이동),스타벅스 몽촌토성역점,커피숍,209929.5748,446085.1213
1,20200713,NaN,영업/정상,1,영업,NaN,26.00,서울특별시 동대문구 전농동 38-104,서울특별시 동대문구 전농로16길 54 1층 (전농동),Min's coffee,커피숍,205263.8264,452869.9925
2,20200713,NaN,영업/정상,1,영업,NaN,15.46,서울특별시 강서구 마곡동 773 힐스테이트에코마곡역 302호,서울특별시 강서구 마곡중앙로 76 힐스테이트에코마곡역 3층 302호 (마곡동),티오르카페,커피숍,NaN,NaN
4,20200713,NaN,영업/정상,1,영업,NaN,247.50,서울특별시 성북구 성북동 8-28,서울특별시 성북구 선잠로2다길 13-13 지하1층 (성북동),오버스토리,커피숍,199901.9764,455159.3438
5,20200713,NaN,영업/정상,1,영업,NaN,38.55,서울특별시 용산구 한강로3가 40-605,서울특별시 용산구 한강대로7길 6 1층 (한강로3가),라라,커피숍,196619.4558,446894.9870
...,...,...,...,...,...,...,...,...,...,...,...,...,...
62815,20210820,NaN,영업/정상,1,영업,NaN,45.36,서울특별시 강서구 마곡동 798-2 류마타워 1층 105호,서울특별시 강서구 공항대로 164 류마타워 1층 105호 (마곡동),빽다방 마곡역류마타워점,커피숍,NaN,NaN
62922,20141210,NaN,폐업,2,폐업,20211115.0,17.12,서울특별시 영등포구 여의도동 14-24 삼보호정빌딩 1층,서울특별시 영등포구 국회대로68길 11 (여의도동 삼보호정빌딩 1층),빽다방서여의도점,커피숍,192831.4783,447442.5964
62963,20211117,NaN,영업/정상,1,영업,NaN,97.71,서울특별시 도봉구 쌍문동 19 쌍문동 LG트윈빌1 1층 105호,서울특별시 도봉구 도당로 10 1층 105호 (쌍문동 쌍문동 LG트윈빌1),빽다방 쌍문세라믹점,커피숍,203048.6693,461867.6479
63222,20211201,NaN,영업/정상,1,영업,NaN,57.77,서울특별시 금천구 가산동 371-41 가산 에스케이 브이원 센터 102호,서울특별시 금천구 가산디지털1로 171 가산 에스케이 브이원 센터 1층 102호 (...,빽다방 가산SKV1점,커피숍,189378.3325,442066.9987
63281,20211203,NaN,영업/정상,1,영업,NaN,66.00,서울특별시 동작구 상도동 501 동호빌딩,서울특별시 동작구 사당로 10 동호빌딩 지층 좌측호 (상도동),빽다방 숭실대점,커피숍,195989.3302,443681.2071

### df 사업장명중 씨유글자가 들어간 행 삭제

In [133]:
cu = df[df['사업장명'].str.contains('씨유')].index
cu

Int64Index([   36,    73,    87,   201,   233,   378,   411,   459,   481,
              503,
            ...
            61332, 61441, 61689, 62124, 62360, 62794, 63126, 63237, 63294,
            63339],
           dtype='int64', length=273)

In [134]:
df = df.drop(index=cu)
df

,인허가일자,인허가취소일자,영업상태명,상세영업상태코드,상세영업상태명,폐업일자,소재지면적,지번주소,도로명주소,사업장명,업태구분명,좌표정보(X),좌표정보(Y)
0,20200713,NaN,영업/정상,1,영업,NaN,329.89,서울특별시 송파구 방이동 44-3 현대토픽스,서울특별시 송파구 위례성대로 6 1층 (방이동),스타벅스 몽촌토성역점,커피숍,209929.5748,446085.1213
1,20200713,NaN,영업/정상,1,영업,NaN,26.00,서울특별시 동대문구 전농동 38-104,서울특별시 동대문구 전농로16길 54 1층 (전농동),Min's coffee,커피숍,205263.8264,452869.9925
2,20200713,NaN,영업/정상,1,영업,NaN,15.46,서울특별시 강서구 마곡동 773 힐스테이트에코마곡역 302호,서울특별시 강서구 마곡중앙로 76 힐스테이트에코마곡역 3층 302호 (마곡동),티오르카페,커피숍,NaN,NaN
4,20200713,NaN,영업/정상,1,영업,NaN,247.50,서울특별시 성북구 성북동 8-28,서울특별시 성북구 선잠로2다길 13-13 지하1층 (성북동),오버스토리,커피숍,199901.9764,455159.3438
5,20200713,NaN,영업/정상,1,영업,NaN,38.55,서울특별시 용산구 한강로3가 40-605,서울특별시 용산구 한강대로7길 6 1층 (한강로3가),라라,커피숍,196619.4558,446894.9870
...,...,...,...,...,...,...,...,...,...,...,...,...,...
62815,20210820,NaN,영업/정상,1,영업,NaN,45.36,서울특별시 강서구 마곡동 798-2 류마타워 1층 105호,서울특별시 강서구 공항대로 164 류마타워 1층 105호 (마곡동),빽다방 마곡역류마타워점,커피숍,NaN,NaN
62922,20141210,NaN,폐업,2,폐업,20211115.0,17.12,서울특별시 영등포구 여의도동 14-24 삼보호정빌딩 1층,서울특별시 영등포구 국회대로68길 11 (여의도동 삼보호정빌딩 1층),빽다방서여의도점,커피숍,192831.4783,447442.5964
62963,20211117,NaN,영업/정상,1,영업,NaN,97.71,서울특별시 도봉구 쌍문동 19 쌍문동 LG트윈빌1 1층 105호,서울특별시 도봉구 도당로 10 1층 105호 (쌍문동 쌍문동 LG트윈빌1),빽다방 쌍문세라믹점,커피숍,203048.6693,461867.6479
63222,20211201,NaN,영업/정상,1,영업,NaN,57.77,서울특별시 금천구 가산동 371-41 가산 에스케이 브이원 센터 102호,서울특별시 금천구 가산디지털1로 171 가산 에스케이 브이원 센터 1층 102호 (...,빽다방 가산SKV1점,커피숍,189378.3325,442066.9987
63281,20211203,NaN,영업/정상,1,영업,NaN,66.00,서울특별시 동작구 상도동 501 동호빌딩,서울특별시 동작구 사당로 10 동호빌딩 지층 좌측호 (상도동),빽다방 숭실대점,커피숍,195989.3302,443681.2071

### df 사업장명중 pc글자가 들어간 행 삭제

In [135]:
pc = df[df['사업장명'].str.contains('pc')].index
pc

Int64Index([ 3901,  5992,  7445,  7538,  7636,  7696,  8642,  8903,  8976,
            11963, 13872, 13964, 13970, 14101, 14180, 14211, 14237, 14248,
            14249, 14311, 14315, 14329, 14675, 15542, 15619, 15647, 15764,
            17201, 17318, 17324, 17325, 17395, 17446, 18183, 18496, 19149,
            19405, 20179, 20191, 20197, 20958, 21412, 22719, 29646, 30412,
            30818, 30819, 31664, 32711, 32745, 34154, 43916, 47573, 49306,
            49849, 49862, 49867, 53013, 53107, 53192, 55158, 55545, 56597,
            56985, 57308, 57823, 58193, 60170, 60763, 62441],
           dtype='int64')

In [136]:
df = df.drop(index=pc)
df

,인허가일자,인허가취소일자,영업상태명,상세영업상태코드,상세영업상태명,폐업일자,소재지면적,지번주소,도로명주소,사업장명,업태구분명,좌표정보(X),좌표정보(Y)
0,20200713,NaN,영업/정상,1,영업,NaN,329.89,서울특별시 송파구 방이동 44-3 현대토픽스,서울특별시 송파구 위례성대로 6 1층 (방이동),스타벅스 몽촌토성역점,커피숍,209929.5748,446085.1213
1,20200713,NaN,영업/정상,1,영업,NaN,26.00,서울특별시 동대문구 전농동 38-104,서울특별시 동대문구 전농로16길 54 1층 (전농동),Min's coffee,커피숍,205263.8264,452869.9925
2,20200713,NaN,영업/정상,1,영업,NaN,15.46,서울특별시 강서구 마곡동 773 힐스테이트에코마곡역 302호,서울특별시 강서구 마곡중앙로 76 힐스테이트에코마곡역 3층 302호 (마곡동),티오르카페,커피숍,NaN,NaN
4,20200713,NaN,영업/정상,1,영업,NaN,247.50,서울특별시 성북구 성북동 8-28,서울특별시 성북구 선잠로2다길 13-13 지하1층 (성북동),오버스토리,커피숍,199901.9764,455159.3438
5,20200713,NaN,영업/정상,1,영업,NaN,38.55,서울특별시 용산구 한강로3가 40-605,서울특별시 용산구 한강대로7길 6 1층 (한강로3가),라라,커피숍,196619.4558,446894.9870
...,...,...,...,...,...,...,...,...,...,...,...,...,...
62815,20210820,NaN,영업/정상,1,영업,NaN,45.36,서울특별시 강서구 마곡동 798-2 류마타워 1층 105호,서울특별시 강서구 공항대로 164 류마타워 1층 105호 (마곡동),빽다방 마곡역류마타워점,커피숍,NaN,NaN
62922,20141210,NaN,폐업,2,폐업,20211115.0,17.12,서울특별시 영등포구 여의도동 14-24 삼보호정빌딩 1층,서울특별시 영등포구 국회대로68길 11 (여의도동 삼보호정빌딩 1층),빽다방서여의도점,커피숍,192831.4783,447442.5964
62963,20211117,NaN,영업/정상,1,영업,NaN,97.71,서울특별시 도봉구 쌍문동 19 쌍문동 LG트윈빌1 1층 105호,서울특별시 도봉구 도당로 10 1층 105호 (쌍문동 쌍문동 LG트윈빌1),빽다방 쌍문세라믹점,커피숍,203048.6693,461867.6479
63222,20211201,NaN,영업/정상,1,영업,NaN,57.77,서울특별시 금천구 가산동 371-41 가산 에스케이 브이원 센터 102호,서울특별시 금천구 가산디지털1로 171 가산 에스케이 브이원 센터 1층 102호 (...,빽다방 가산SKV1점,커피숍,189378.3325,442066.9987
63281,20211203,NaN,영업/정상,1,영업,NaN,66.00,서울특별시 동작구 상도동 501 동호빌딩,서울특별시 동작구 사당로 10 동호빌딩 지층 좌측호 (상도동),빽다방 숭실대점,커피숍,195989.3302,443681.2071

### df 사업장명중 김밥글자가 들어간 행 삭제

In [137]:
kb = df[df['사업장명'].str.contains('김밥')].index
kb

Int64Index([   44,    71,    97,   123,   300,   319,   473,   706,   974,
             1290,
            ...
            61961, 62240, 62268, 62528, 62588, 62591, 62676, 62779, 62966,
            63034],
           dtype='int64', length=356)

In [138]:
df = df.drop(index=kb)
df

,인허가일자,인허가취소일자,영업상태명,상세영업상태코드,상세영업상태명,폐업일자,소재지면적,지번주소,도로명주소,사업장명,업태구분명,좌표정보(X),좌표정보(Y)
0,20200713,NaN,영업/정상,1,영업,NaN,329.89,서울특별시 송파구 방이동 44-3 현대토픽스,서울특별시 송파구 위례성대로 6 1층 (방이동),스타벅스 몽촌토성역점,커피숍,209929.5748,446085.1213
1,20200713,NaN,영업/정상,1,영업,NaN,26.00,서울특별시 동대문구 전농동 38-104,서울특별시 동대문구 전농로16길 54 1층 (전농동),Min's coffee,커피숍,205263.8264,452869.9925
2,20200713,NaN,영업/정상,1,영업,NaN,15.46,서울특별시 강서구 마곡동 773 힐스테이트에코마곡역 302호,서울특별시 강서구 마곡중앙로 76 힐스테이트에코마곡역 3층 302호 (마곡동),티오르카페,커피숍,NaN,NaN
4,20200713,NaN,영업/정상,1,영업,NaN,247.50,서울특별시 성북구 성북동 8-28,서울특별시 성북구 선잠로2다길 13-13 지하1층 (성북동),오버스토리,커피숍,199901.9764,455159.3438
5,20200713,NaN,영업/정상,1,영업,NaN,38.55,서울특별시 용산구 한강로3가 40-605,서울특별시 용산구 한강대로7길 6 1층 (한강로3가),라라,커피숍,196619.4558,446894.9870
...,...,...,...,...,...,...,...,...,...,...,...,...,...
62815,20210820,NaN,영업/정상,1,영업,NaN,45.36,서울특별시 강서구 마곡동 798-2 류마타워 1층 105호,서울특별시 강서구 공항대로 164 류마타워 1층 105호 (마곡동),빽다방 마곡역류마타워점,커피숍,NaN,NaN
62922,20141210,NaN,폐업,2,폐업,20211115.0,17.12,서울특별시 영등포구 여의도동 14-24 삼보호정빌딩 1층,서울특별시 영등포구 국회대로68길 11 (여의도동 삼보호정빌딩 1층),빽다방서여의도점,커피숍,192831.4783,447442.5964
62963,20211117,NaN,영업/정상,1,영업,NaN,97.71,서울특별시 도봉구 쌍문동 19 쌍문동 LG트윈빌1 1층 105호,서울특별시 도봉구 도당로 10 1층 105호 (쌍문동 쌍문동 LG트윈빌1),빽다방 쌍문세라믹점,커피숍,203048.6693,461867.6479
63222,20211201,NaN,영업/정상,1,영업,NaN,57.77,서울특별시 금천구 가산동 371-41 가산 에스케이 브이원 센터 102호,서울특별시 금천구 가산디지털1로 171 가산 에스케이 브이원 센터 1층 102호 (...,빽다방 가산SKV1점,커피숍,189378.3325,442066.9987
63281,20211203,NaN,영업/정상,1,영업,NaN,66.00,서울특별시 동작구 상도동 501 동호빌딩,서울특별시 동작구 사당로 10 동호빌딩 지층 좌측호 (상도동),빽다방 숭실대점,커피숍,195989.3302,443681.2071

### df 사업장명중 사우나글자가 들어간 행 삭제

In [139]:
sauna = df[df['사업장명'].str.contains('사우나')].index
sauna

Int64Index([  310,  1221,  3671,  7155,  8071,  9920, 10089, 10093, 10236,
            14055, 14420, 14460, 14463, 14663, 15227, 16806, 18579, 18963,
            19508, 19975, 20182, 21552, 21996, 22402, 24242, 25577, 27194,
            27766, 28107, 28756, 29099, 29640, 29656, 29854, 29869, 31447,
            31475, 31857, 33219, 36720, 37139, 39475, 39504, 39505, 39608,
            39612, 39614, 45952, 48638, 50678, 52389, 52714, 52728, 52763,
            53202, 53283, 53284, 54313, 61015, 61676, 63184],
           dtype='int64')

In [140]:
df = df.drop(index=sauna)
df

,인허가일자,인허가취소일자,영업상태명,상세영업상태코드,상세영업상태명,폐업일자,소재지면적,지번주소,도로명주소,사업장명,업태구분명,좌표정보(X),좌표정보(Y)
0,20200713,NaN,영업/정상,1,영업,NaN,329.89,서울특별시 송파구 방이동 44-3 현대토픽스,서울특별시 송파구 위례성대로 6 1층 (방이동),스타벅스 몽촌토성역점,커피숍,209929.5748,446085.1213
1,20200713,NaN,영업/정상,1,영업,NaN,26.00,서울특별시 동대문구 전농동 38-104,서울특별시 동대문구 전농로16길 54 1층 (전농동),Min's coffee,커피숍,205263.8264,452869.9925
2,20200713,NaN,영업/정상,1,영업,NaN,15.46,서울특별시 강서구 마곡동 773 힐스테이트에코마곡역 302호,서울특별시 강서구 마곡중앙로 76 힐스테이트에코마곡역 3층 302호 (마곡동),티오르카페,커피숍,NaN,NaN
4,20200713,NaN,영업/정상,1,영업,NaN,247.50,서울특별시 성북구 성북동 8-28,서울특별시 성북구 선잠로2다길 13-13 지하1층 (성북동),오버스토리,커피숍,199901.9764,455159.3438
5,20200713,NaN,영업/정상,1,영업,NaN,38.55,서울특별시 용산구 한강로3가 40-605,서울특별시 용산구 한강대로7길 6 1층 (한강로3가),라라,커피숍,196619.4558,446894.9870
...,...,...,...,...,...,...,...,...,...,...,...,...,...
62815,20210820,NaN,영업/정상,1,영업,NaN,45.36,서울특별시 강서구 마곡동 798-2 류마타워 1층 105호,서울특별시 강서구 공항대로 164 류마타워 1층 105호 (마곡동),빽다방 마곡역류마타워점,커피숍,NaN,NaN
62922,20141210,NaN,폐업,2,폐업,20211115.0,17.12,서울특별시 영등포구 여의도동 14-24 삼보호정빌딩 1층,서울특별시 영등포구 국회대로68길 11 (여의도동 삼보호정빌딩 1층),빽다방서여의도점,커피숍,192831.4783,447442.5964
62963,20211117,NaN,영업/정상,1,영업,NaN,97.71,서울특별시 도봉구 쌍문동 19 쌍문동 LG트윈빌1 1층 105호,서울특별시 도봉구 도당로 10 1층 105호 (쌍문동 쌍문동 LG트윈빌1),빽다방 쌍문세라믹점,커피숍,203048.6693,461867.6479
63222,20211201,NaN,영업/정상,1,영업,NaN,57.77,서울특별시 금천구 가산동 371-41 가산 에스케이 브이원 센터 102호,서울특별시 금천구 가산디지털1로 171 가산 에스케이 브이원 센터 1층 102호 (...,빽다방 가산SKV1점,커피숍,189378.3325,442066.9987
63281,20211203,NaN,영업/정상,1,영업,NaN,66.00,서울특별시 동작구 상도동 501 동호빌딩,서울특별시 동작구 사당로 10 동호빌딩 지층 좌측호 (상도동),빽다방 숭실대점,커피숍,195989.3302,443681.2071

### df 사업장명중 포차글자가 들어간 행 삭제

In [141]:
pocha = df[df['사업장명'].str.contains('포차')].index
pocha

Int64Index([24, 31034, 37007, 56821], dtype='int64')

In [142]:
df = df.drop(index=pocha)
df

,인허가일자,인허가취소일자,영업상태명,상세영업상태코드,상세영업상태명,폐업일자,소재지면적,지번주소,도로명주소,사업장명,업태구분명,좌표정보(X),좌표정보(Y)
0,20200713,NaN,영업/정상,1,영업,NaN,329.89,서울특별시 송파구 방이동 44-3 현대토픽스,서울특별시 송파구 위례성대로 6 1층 (방이동),스타벅스 몽촌토성역점,커피숍,209929.5748,446085.1213
1,20200713,NaN,영업/정상,1,영업,NaN,26.00,서울특별시 동대문구 전농동 38-104,서울특별시 동대문구 전농로16길 54 1층 (전농동),Min's coffee,커피숍,205263.8264,452869.9925
2,20200713,NaN,영업/정상,1,영업,NaN,15.46,서울특별시 강서구 마곡동 773 힐스테이트에코마곡역 302호,서울특별시 강서구 마곡중앙로 76 힐스테이트에코마곡역 3층 302호 (마곡동),티오르카페,커피숍,NaN,NaN
4,20200713,NaN,영업/정상,1,영업,NaN,247.50,서울특별시 성북구 성북동 8-28,서울특별시 성북구 선잠로2다길 13-13 지하1층 (성북동),오버스토리,커피숍,199901.9764,455159.3438
5,20200713,NaN,영업/정상,1,영업,NaN,38.55,서울특별시 용산구 한강로3가 40-605,서울특별시 용산구 한강대로7길 6 1층 (한강로3가),라라,커피숍,196619.4558,446894.9870
...,...,...,...,...,...,...,...,...,...,...,...,...,...
62815,20210820,NaN,영업/정상,1,영업,NaN,45.36,서울특별시 강서구 마곡동 798-2 류마타워 1층 105호,서울특별시 강서구 공항대로 164 류마타워 1층 105호 (마곡동),빽다방 마곡역류마타워점,커피숍,NaN,NaN
62922,20141210,NaN,폐업,2,폐업,20211115.0,17.12,서울특별시 영등포구 여의도동 14-24 삼보호정빌딩 1층,서울특별시 영등포구 국회대로68길 11 (여의도동 삼보호정빌딩 1층),빽다방서여의도점,커피숍,192831.4783,447442.5964
62963,20211117,NaN,영업/정상,1,영업,NaN,97.71,서울특별시 도봉구 쌍문동 19 쌍문동 LG트윈빌1 1층 105호,서울특별시 도봉구 도당로 10 1층 105호 (쌍문동 쌍문동 LG트윈빌1),빽다방 쌍문세라믹점,커피숍,203048.6693,461867.6479
63222,20211201,NaN,영업/정상,1,영업,NaN,57.77,서울특별시 금천구 가산동 371-41 가산 에스케이 브이원 센터 102호,서울특별시 금천구 가산디지털1로 171 가산 에스케이 브이원 센터 1층 102호 (...,빽다방 가산SKV1점,커피숍,189378.3325,442066.9987
63281,20211203,NaN,영업/정상,1,영업,NaN,66.00,서울특별시 동작구 상도동 501 동호빌딩,서울특별시 동작구 사당로 10 동호빌딩 지층 좌측호 (상도동),빽다방 숭실대점,커피숍,195989.3302,443681.2071

### df 사업장명중 목장글자가 들어간 행 삭제

In [143]:
pasture = df[df['사업장명'].str.contains('목장')].index
pasture

Int64Index([23, 39, 6365, 34330, 36650, 39601, 42130, 43014, 43965, 46230,
            46994, 54782],
           dtype='int64')

In [144]:
df = df.drop(index=pasture)
df

,인허가일자,인허가취소일자,영업상태명,상세영업상태코드,상세영업상태명,폐업일자,소재지면적,지번주소,도로명주소,사업장명,업태구분명,좌표정보(X),좌표정보(Y)
0,20200713,NaN,영업/정상,1,영업,NaN,329.89,서울특별시 송파구 방이동 44-3 현대토픽스,서울특별시 송파구 위례성대로 6 1층 (방이동),스타벅스 몽촌토성역점,커피숍,209929.5748,446085.1213
1,20200713,NaN,영업/정상,1,영업,NaN,26.00,서울특별시 동대문구 전농동 38-104,서울특별시 동대문구 전농로16길 54 1층 (전농동),Min's coffee,커피숍,205263.8264,452869.9925
2,20200713,NaN,영업/정상,1,영업,NaN,15.46,서울특별시 강서구 마곡동 773 힐스테이트에코마곡역 302호,서울특별시 강서구 마곡중앙로 76 힐스테이트에코마곡역 3층 302호 (마곡동),티오르카페,커피숍,NaN,NaN
4,20200713,NaN,영업/정상,1,영업,NaN,247.50,서울특별시 성북구 성북동 8-28,서울특별시 성북구 선잠로2다길 13-13 지하1층 (성북동),오버스토리,커피숍,199901.9764,455159.3438
5,20200713,NaN,영업/정상,1,영업,NaN,38.55,서울특별시 용산구 한강로3가 40-605,서울특별시 용산구 한강대로7길 6 1층 (한강로3가),라라,커피숍,196619.4558,446894.9870
...,...,...,...,...,...,...,...,...,...,...,...,...,...
62815,20210820,NaN,영업/정상,1,영업,NaN,45.36,서울특별시 강서구 마곡동 798-2 류마타워 1층 105호,서울특별시 강서구 공항대로 164 류마타워 1층 105호 (마곡동),빽다방 마곡역류마타워점,커피숍,NaN,NaN
62922,20141210,NaN,폐업,2,폐업,20211115.0,17.12,서울특별시 영등포구 여의도동 14-24 삼보호정빌딩 1층,서울특별시 영등포구 국회대로68길 11 (여의도동 삼보호정빌딩 1층),빽다방서여의도점,커피숍,192831.4783,447442.5964
62963,20211117,NaN,영업/정상,1,영업,NaN,97.71,서울특별시 도봉구 쌍문동 19 쌍문동 LG트윈빌1 1층 105호,서울특별시 도봉구 도당로 10 1층 105호 (쌍문동 쌍문동 LG트윈빌1),빽다방 쌍문세라믹점,커피숍,203048.6693,461867.6479
63222,20211201,NaN,영업/정상,1,영업,NaN,57.77,서울특별시 금천구 가산동 371-41 가산 에스케이 브이원 센터 102호,서울특별시 금천구 가산디지털1로 171 가산 에스케이 브이원 센터 1층 102호 (...,빽다방 가산SKV1점,커피숍,189378.3325,442066.9987
63281,20211203,NaN,영업/정상,1,영업,NaN,66.00,서울특별시 동작구 상도동 501 동호빌딩,서울특별시 동작구 사당로 10 동호빌딩 지층 좌측호 (상도동),빽다방 숭실대점,커피숍,195989.3302,443681.2071

### df 사업장명중 피씨방글자가 들어간 행 삭제

In [145]:
pc = df[df['사업장명'].str.contains('피씨방')].index
pc

Int64Index([   47,   111,   389,  7435,  7563, 10316, 11508, 11991, 12039,
            12043, 12079, 12135, 12253, 12469, 12712, 13202, 13803, 14150,
            15043, 15952, 16293, 18323, 19151, 20155, 20930, 21017, 22698,
            25522, 27330, 30343, 30916, 30917, 31236, 32791, 33424, 36556,
            38008, 38019, 38055, 38310, 38416, 39912, 40203, 40276, 42043,
            45592, 47127, 47148, 47929, 48001, 52412, 53233, 55300, 56627,
            56737, 57190, 58159, 58726, 58883, 60055, 60211, 60816, 62490],
           dtype='int64')

In [146]:
df = df.drop(index=pc)
df

,인허가일자,인허가취소일자,영업상태명,상세영업상태코드,상세영업상태명,폐업일자,소재지면적,지번주소,도로명주소,사업장명,업태구분명,좌표정보(X),좌표정보(Y)
0,20200713,NaN,영업/정상,1,영업,NaN,329.89,서울특별시 송파구 방이동 44-3 현대토픽스,서울특별시 송파구 위례성대로 6 1층 (방이동),스타벅스 몽촌토성역점,커피숍,209929.5748,446085.1213
1,20200713,NaN,영업/정상,1,영업,NaN,26.00,서울특별시 동대문구 전농동 38-104,서울특별시 동대문구 전농로16길 54 1층 (전농동),Min's coffee,커피숍,205263.8264,452869.9925
2,20200713,NaN,영업/정상,1,영업,NaN,15.46,서울특별시 강서구 마곡동 773 힐스테이트에코마곡역 302호,서울특별시 강서구 마곡중앙로 76 힐스테이트에코마곡역 3층 302호 (마곡동),티오르카페,커피숍,NaN,NaN
4,20200713,NaN,영업/정상,1,영업,NaN,247.50,서울특별시 성북구 성북동 8-28,서울특별시 성북구 선잠로2다길 13-13 지하1층 (성북동),오버스토리,커피숍,199901.9764,455159.3438
5,20200713,NaN,영업/정상,1,영업,NaN,38.55,서울특별시 용산구 한강로3가 40-605,서울특별시 용산구 한강대로7길 6 1층 (한강로3가),라라,커피숍,196619.4558,446894.9870
...,...,...,...,...,...,...,...,...,...,...,...,...,...
62815,20210820,NaN,영업/정상,1,영업,NaN,45.36,서울특별시 강서구 마곡동 798-2 류마타워 1층 105호,서울특별시 강서구 공항대로 164 류마타워 1층 105호 (마곡동),빽다방 마곡역류마타워점,커피숍,NaN,NaN
62922,20141210,NaN,폐업,2,폐업,20211115.0,17.12,서울특별시 영등포구 여의도동 14-24 삼보호정빌딩 1층,서울특별시 영등포구 국회대로68길 11 (여의도동 삼보호정빌딩 1층),빽다방서여의도점,커피숍,192831.4783,447442.5964
62963,20211117,NaN,영업/정상,1,영업,NaN,97.71,서울특별시 도봉구 쌍문동 19 쌍문동 LG트윈빌1 1층 105호,서울특별시 도봉구 도당로 10 1층 105호 (쌍문동 쌍문동 LG트윈빌1),빽다방 쌍문세라믹점,커피숍,203048.6693,461867.6479
63222,20211201,NaN,영업/정상,1,영업,NaN,57.77,서울특별시 금천구 가산동 371-41 가산 에스케이 브이원 센터 102호,서울특별시 금천구 가산디지털1로 171 가산 에스케이 브이원 센터 1층 102호 (...,빽다방 가산SKV1점,커피숍,189378.3325,442066.9987
63281,20211203,NaN,영업/정상,1,영업,NaN,66.00,서울특별시 동작구 상도동 501 동호빌딩,서울특별시 동작구 사당로 10 동호빌딩 지층 좌측호 (상도동),빽다방 숭실대점,커피숍,195989.3302,443681.2071

### df 사업장명중 어묵 글자가 들어간 행 삭제

In [147]:
fc = df[df['사업장명'].str.contains('어묵')].index
fc

Int64Index([   66,   151,  1759,  2727,  5797,  7095,  7409,  7602,  8420,
            11214, 12340, 12453, 14415, 15095, 15601, 15858, 17713, 19221,
            20765, 20780, 20993, 21477, 21593, 22322, 24013, 24674, 24946,
            26072, 28955, 29691, 30028, 30865, 31775, 32650, 34492, 34601,
            34751, 36474, 36786, 36992, 39972, 42874, 43067, 45108, 45209,
            46838, 49057, 49165, 50198, 50412, 51253, 51825, 52073, 52223,
            52999, 53119, 53330, 53949, 55163, 56168, 58191, 58266, 58642,
            59606, 59686, 60869, 61786, 62289, 63292],
           dtype='int64')

In [148]:
df = df.drop(index=fc)
df

,인허가일자,인허가취소일자,영업상태명,상세영업상태코드,상세영업상태명,폐업일자,소재지면적,지번주소,도로명주소,사업장명,업태구분명,좌표정보(X),좌표정보(Y)
0,20200713,NaN,영업/정상,1,영업,NaN,329.89,서울특별시 송파구 방이동 44-3 현대토픽스,서울특별시 송파구 위례성대로 6 1층 (방이동),스타벅스 몽촌토성역점,커피숍,209929.5748,446085.1213
1,20200713,NaN,영업/정상,1,영업,NaN,26.00,서울특별시 동대문구 전농동 38-104,서울특별시 동대문구 전농로16길 54 1층 (전농동),Min's coffee,커피숍,205263.8264,452869.9925
2,20200713,NaN,영업/정상,1,영업,NaN,15.46,서울특별시 강서구 마곡동 773 힐스테이트에코마곡역 302호,서울특별시 강서구 마곡중앙로 76 힐스테이트에코마곡역 3층 302호 (마곡동),티오르카페,커피숍,NaN,NaN
4,20200713,NaN,영업/정상,1,영업,NaN,247.50,서울특별시 성북구 성북동 8-28,서울특별시 성북구 선잠로2다길 13-13 지하1층 (성북동),오버스토리,커피숍,199901.9764,455159.3438
5,20200713,NaN,영업/정상,1,영업,NaN,38.55,서울특별시 용산구 한강로3가 40-605,서울특별시 용산구 한강대로7길 6 1층 (한강로3가),라라,커피숍,196619.4558,446894.9870
...,...,...,...,...,...,...,...,...,...,...,...,...,...
62815,20210820,NaN,영업/정상,1,영업,NaN,45.36,서울특별시 강서구 마곡동 798-2 류마타워 1층 105호,서울특별시 강서구 공항대로 164 류마타워 1층 105호 (마곡동),빽다방 마곡역류마타워점,커피숍,NaN,NaN
62922,20141210,NaN,폐업,2,폐업,20211115.0,17.12,서울특별시 영등포구 여의도동 14-24 삼보호정빌딩 1층,서울특별시 영등포구 국회대로68길 11 (여의도동 삼보호정빌딩 1층),빽다방서여의도점,커피숍,192831.4783,447442.5964
62963,20211117,NaN,영업/정상,1,영업,NaN,97.71,서울특별시 도봉구 쌍문동 19 쌍문동 LG트윈빌1 1층 105호,서울특별시 도봉구 도당로 10 1층 105호 (쌍문동 쌍문동 LG트윈빌1),빽다방 쌍문세라믹점,커피숍,203048.6693,461867.6479
63222,20211201,NaN,영업/정상,1,영업,NaN,57.77,서울특별시 금천구 가산동 371-41 가산 에스케이 브이원 센터 102호,서울특별시 금천구 가산디지털1로 171 가산 에스케이 브이원 센터 1층 102호 (...,빽다방 가산SKV1점,커피숍,189378.3325,442066.9987
63281,20211203,NaN,영업/정상,1,영업,NaN,66.00,서울특별시 동작구 상도동 501 동호빌딩,서울특별시 동작구 사당로 10 동호빌딩 지층 좌측호 (상도동),빽다방 숭실대점,커피숍,195989.3302,443681.2071

In [149]:
s_str('키즈')

Int64Index([   40,   246,   271,   356,  5079,  6208,  7512, 10220, 15671,
            19330, 19627, 20092, 20223, 20367, 23406, 24622, 28286, 30062,
            30374, 30787, 33440, 34464, 36997, 37090, 41379, 41421, 41598,
            41929, 42242, 42316, 42890, 43069, 43620, 46166, 47460, 49303,
            50465, 51814, 51820, 51939, 51975, 52812, 53768, 54263, 54322,
            56497, 57448, 58693, 62531],
           dtype='int64')
(57824, 13)

### df 사업장명중 피씨 글자가 들어간 행 삭제

In [150]:
s_str('피씨')

Int64Index([   82,   270,  1187,  1284,  4119,  5989,  7376,  7547,  7569,
             7791,
            ...
            58959, 60525, 60891, 61056, 61702, 61857, 62249, 62693, 62711,
            63239],
           dtype='int64', length=105)
(57719, 13)

### df 사업장명중 카카오프렌즈 글자가 들어간 행 삭제

In [151]:
s_str('카카오프렌즈')

Int64Index([42, 56922, 57003], dtype='int64')
(57716, 13)

### df 사업장명중 샐러디 글자가 들어간 행 삭제

In [152]:
s_str('샐러디')

Int64Index([   62,   452,  1157,  4595,  7150,  7516, 12195, 12568, 22332,
            22559, 24397, 24435, 25175, 25350, 25387, 33911, 36576, 38431,
            38541, 47004, 48362, 48908, 54851, 56483, 56545, 56826, 56875,
            57305, 57546, 57673, 57916, 58496, 60812, 60842, 61310, 61737,
            61821, 61921, 62110, 62145, 62444, 63035, 63227],
           dtype='int64')
(57673, 13)

### df 사업장명중 떡집 글자가 들어간 행 삭제

In [153]:
s_str('떡집')

Int64Index([117, 1257, 3915, 9233, 30527, 57381, 59942, 61408], dtype='int64')
(57665, 13)

### df 사업장명중 철판 글자가 들어간 행 삭제

In [154]:
s_str('철판')

Int64Index([100, 21417, 49870, 49871], dtype='int64')
(57661, 13)

### df 사업장명중 유통 글자가 들어간 행 삭제

In [155]:
s_str('유통')

Int64Index([  128,   537,  2740,  3359,  3810,  5322,  6471,  7794,  7798,
             7809,  8042,  8220,  8264,  8451,  8488,  8503,  8719,  8914,
            10893, 11584, 15927, 16299, 17900, 18636, 19182, 19702, 20316,
            22735, 24687, 27543, 28125, 28361, 31401, 31403, 31783, 31852,
            31854, 31901, 32618, 32669, 32819, 34747, 35926, 36810, 37085,
            39498, 39727, 40473, 41367, 41736, 45180, 45304, 47646, 49305,
            49881, 50169, 50190, 52331, 54347, 54522, 56287, 58784, 58802,
            59171, 59263, 60717, 61879, 62239, 62428, 62439, 62657],
           dtype='int64')
(57590, 13)

### df 사업장명중 파스타 글자가 들어간 행 삭제

In [156]:
s_str('파스타')

Int64Index([  146,  2234,  2759,  2874,  3633, 11415, 14539, 21965, 31663,
            43002, 50410, 54788, 55167, 56867],
           dtype='int64')
(57576, 13)

### df 사업장명중 스터디 글자가 들어간 행 삭제

In [157]:
s_str('스터디')

Int64Index([  154,   309,  1085,  8938,  9209,  9307, 11367, 11421, 11879,
            11966,
            ...
            59258, 59302, 59303, 59347, 59415, 60729, 60776, 62237, 62712,
            63098],
           dtype='int64', length=108)
(57468, 13)

### df 사업장명중 써브웨이 글자가 들어간 행 삭제

In [158]:
s_str('써브웨이')

Int64Index([  162,   337,  1302,  1310,  4540,  7352,  7390,  7392,  8910,
             8967, 13497, 15430, 15555, 17185, 17220, 17242, 17489, 20785,
            21158, 22131, 22341, 22685, 32850, 39921, 47469, 49059, 49366,
            49978, 50217, 50959, 56766, 57658, 58545, 58961, 59916],
           dtype='int64')
(57433, 13)

### df 사업장명중 핫도그 글자가 들어간 행 삭제

In [159]:
s_str('핫도그')

Int64Index([  227,   491,  2083,  2383,  2391,  2934,  5025,  5380,  6441,
             7133,
            ...
            58418, 59146, 59551, 59711, 59912, 60072, 60073, 61849, 63228,
            63271],
           dtype='int64', length=132)
(57301, 13)

### df 사업장명중 PC 글자가 들어간 행 삭제

In [160]:
s_str('PC')

Int64Index([  200,   220,   307,   362,   402,   472,   791,  1008,  1894,
             2032,
            ...
            62292, 62376, 62405, 62560, 63013, 63071, 63104, 63115, 63116,
            63327],
           dtype='int64', length=616)
(56685, 13)

### df 사업장명중 에그드랍 글자가 들어간 행 삭제

In [161]:
s_str('에그드랍')

Int64Index([  214,  3860, 14312, 24381, 24848, 30320, 30375, 32746, 36866,
            37023, 48491, 48528, 56010, 57669, 58806, 62708],
           dtype='int64')
(56669, 13)

### df 사업장명중 떡볶이 글자가 들어간 행 삭제

In [162]:
s_str('떡볶이')

Int64Index([  228,   634,   839,  1887,  1952,  1968,  2031,  2072,  2100,
             2138,
            ...
            61097, 61413, 61845, 61861, 62170, 62403, 62843, 62987, 63027,
            63097],
           dtype='int64', length=297)
(56372, 13)

### df 사업장명중 돈까스 글자가 들어간 행 삭제

In [163]:
s_str('돈까스')

Int64Index([  293, 12138, 12531, 12805, 13039, 15245, 19094, 19305, 21050,
            21139, 21585, 22271, 22857, 23307, 23852, 30614, 31876, 35676,
            37116, 54557, 56615, 58686, 59640, 63066],
           dtype='int64')
(56348, 13)

### df 사업장명중 순두부 글자가 들어간 행 삭제

In [164]:
s_str('순두부')

Int64Index([294, 435, 50158], dtype='int64')
(56345, 13)

### df 사업장명중 꽈배기 글자가 들어간 행 삭제

In [165]:
s_str('꽈배기')

Int64Index([  251,   424,  1058,  1206,  1388,  2730,  3630,  4100,  7520,
             8848,
            ...
            62377, 62414, 62513, 62571, 62744, 62785, 62898, 62903, 63161,
            63177],
           dtype='int64', length=190)
(56155, 13)

### df 사업장명중 꽈배기 글자가 들어간 행 삭제

In [166]:
s_str('식당')

Int64Index([  248,  1081,  1431,  1885,  5225,  5385,  6708,  7691,  7763,
             7829,  8204,  8247,  8325, 12083, 12262, 12696, 13615, 14499,
            15746, 16728, 16744, 16962, 17005, 17513, 17651, 18107, 18170,
            18290, 20664, 22872, 22937, 23160, 23290, 23323, 23336, 23804,
            23926, 24297, 24308, 26152, 26201, 26280, 27411, 27480, 28093,
            28202, 28308, 28321, 28884, 30125, 31263, 31859, 33218, 33331,
            34527, 35198, 35866, 37173, 37240, 37269, 37351, 39446, 40245,
            41995, 47114, 47671, 49151, 49482, 49508, 50210, 50272, 50432,
            50819, 50844, 50975, 51605, 52046, 53285, 53769, 54109, 54449,
            55495, 56605, 56883, 57965, 58571, 60545, 60815, 61042, 61206,
            61590],
           dtype='int64')
(56064, 13)

### df 사업장명중 푸드 글자가 들어간 행 삭제

In [167]:
s_str('푸드')

Int64Index([  134,   306,  1876,  1882,  2045,  2283,  2400,  2562,  2613,
             2618,
            ...
            61965, 62175, 62176, 62177, 62398, 62870, 63058, 63114, 63151,
            63334],
           dtype='int64', length=295)
(55769, 13)

### df 사업장명중 제과 글자가 들어간 행 삭제

In [168]:
s_str('제과')

Int64Index([  382,  4560, 14362, 14367, 20629, 26656, 31560, 33886, 34224,
            35923, 36259, 47836, 52031, 52883, 53895, 54473, 56576, 57636,
            57743, 58445, 59039, 59511, 61646, 62069],
           dtype='int64')
(55745, 13)

### df 사업장명중 GS 글자가 들어간 행 삭제

In [169]:
s_str('GS')

Int64Index([  354,   401,   534,   656,   970,   972,  1013,  1070,  1183,
             1232,
            ...
            61774, 61865, 62109, 62137, 62368, 62739, 62892, 63002, 63179,
            47974],
           dtype='int64', length=389)
(55356, 13)

### df 사업장명중 세븐일레븐 글자가 들어간 행 삭제

In [170]:
s_str('세븐일레븐')

Int64Index([  343,   380,   423,   457,   463,   468,   475,   914,   937,
              944,
            ...
            61394, 61697, 61854, 61997, 62035, 62133, 62192, 62830, 63122,
            63197],
           dtype='int64', length=306)
(55050, 13)

### df 사업장명중 마카롱 글자가 들어간 행 삭제

In [171]:
s_str('마카롱')

Int64Index([  144,   554,   934,  3544,  3694,  4602,  5114,  5288,  7089,
             7467,
            ...
            57706, 58190, 58560, 58750, 59348, 59601, 59986, 61729, 62093,
            63100],
           dtype='int64', length=105)
(54945, 13)

### df 사업장명중 미니스톱 글자가 들어간 행 삭제

In [172]:
s_str('미니스톱')

Int64Index([  647,   664,   861,  1253,  4414,  5614,  5615,  5619,  7286,
             7604,  8891,  9649, 11531, 11567, 13361, 15379, 15700, 15755,
            15783, 16163, 17038, 17040, 17196, 17327, 17400, 17439, 17641,
            18022, 18080, 18207, 19140, 19430, 19907, 20221, 20320, 20354,
            20411, 20413, 21036, 22095, 23172, 24560, 24650, 24651, 24794,
            24824, 25331, 25365, 27472, 28957, 29028, 30159, 30632, 31001,
            31219, 31228, 33966, 36502, 36617, 38692, 42328, 48980, 49397,
            49467, 49582, 49744, 49953, 51018, 51443, 51668, 52178, 52227,
            52335, 53561, 55926, 56568, 56613, 56614, 58487, 60139, 60757,
            61242, 63218],
           dtype='int64')
(54862, 13)

### df 사업장명중 쓰리팝 글자가 들어간 행 삭제

In [173]:
s_str('쓰리팝')

Int64Index([  666,   881,  7519,  7638,  9229, 10107, 12063, 12154, 13138,
            16241, 16488, 22599, 24723, 24796, 24805, 34366, 35620, 37445,
            39839, 40023, 47109, 47334, 54200, 56493, 60860, 60912, 61751],
           dtype='int64')
(54835, 13)

### df 사업장명중 피자 글자가 들어간 행 삭제

In [174]:
s_str('피자')

Int64Index([  303,   708,   749,   802,  1146,  1309,  1321,  2113,  2612,
             2641,
            ...
            61708, 61790, 61804, 61916, 61917, 62449, 62463, 62698, 62961,
            62971],
           dtype='int64', length=288)
(54547, 13)

### df 사업장명중 만두 글자가 들어간 행 삭제

In [175]:
s_str('만두')

Int64Index([  836,   973,  1034,  1963,  2379,  3072,  4069,  4347,  5381,
             7976,
            ...
            62691, 62849, 62872, 62873, 62881, 62891, 62906, 63041, 63090,
            63269],
           dtype='int64', length=259)
(54288, 13)

### df 사업장명중 스넥 글자가 들어간 행 삭제

In [176]:
s_str('스넥')

Int64Index([ 1012,  1702,  1890,  2114,  3899,  5161,  6835, 10091, 10742,
            10945, 11097, 11142, 17136, 17635, 19626, 19972, 20172, 22189,
            22500, 22667, 23217, 27471, 27808, 28122, 28219, 28226, 28674,
            29085, 29677, 29816, 29817, 31197, 31733, 31801, 31824, 31870,
            32678, 32714, 33216, 33732, 35852, 37001, 37109, 39569, 41973,
            42927, 43873, 48952, 49787, 51567, 52269, 52764, 52894, 53053,
            54235, 56819, 56849, 63350],
           dtype='int64')
(54230, 13)

### df 사업장명중 모찌 글자가 들어간 행 삭제

In [177]:
s_str('모찌')

Int64Index([ 1020,  8589, 10727, 11032, 11676, 17684, 25231, 31277, 36524,
            37321, 44337, 46037, 48016, 49243, 51550, 52420, 61115],
           dtype='int64')
(54213, 13)

### df 사업장명중 매점 글자가 들어간 행 삭제

In [178]:
s_str('매점')

Int64Index([  572,  1039,  1308,  2572,  2805,  2975,  3647,  3658,  3668,
             3857,
            ...
            54244, 54652, 54823, 55599, 55895, 56026, 58405, 58775, 61429,
            63295],
           dtype='int64', length=101)
(54112, 13)

### df 사업장명중 마라 글자가 들어간 행 삭제

In [179]:
s_str('마라')

Int64Index([1132, 27590, 31399, 32067, 33013], dtype='int64')
(54107, 13)

### df 사업장명중 CU 글자가 들어간 행 삭제

In [180]:
s_str('CU')

Int64Index([  553,   792,   807,  1199,  1200,  2060,  2988,  3440,  4138,
             4245,
            ...
            56052, 57205, 59689, 59765, 60416, 60482, 60892, 61806, 62058,
            62309],
           dtype='int64', length=113)
(53994, 13)

### df 사업장명중 쉼터 글자가 들어간 행 삭제

In [181]:
s_str('쉼터')

Int64Index([ 1142,  1957,  2084,  3595,  3738,  3961,  4012,  5801,  6323,
             6446, 12799, 13447, 14845, 15261, 16175, 16602, 16712, 19224,
            21320, 21322, 21673, 30634, 31534, 34684, 34711, 34742, 35584,
            37309, 37424, 39604, 41509, 42106, 42677, 43831, 52161, 52391],
           dtype='int64')
(53958, 13)

### df 사업장명중 마켓 글자가 들어간 행 삭제

In [182]:
s_str('마켓')

Int64Index([ 1181,  2406,  7683,  8440, 11698, 13360, 15917, 16099, 16125,
            18917, 21746, 22635, 23292, 24386, 25676, 25982, 26970, 27258,
            28544, 33368, 33653, 33809, 34262, 35630, 39648, 40319, 40406,
            42346, 46299, 47414, 47890, 47923, 48253, 48720, 50127, 50503,
            51022, 53086, 53135, 54150, 55429, 57273, 57336, 57667, 57900,
            59565, 60521, 60762, 61013, 61356, 61463, 61598, 62284, 62586,
            62772, 63165],
           dtype='int64')
(53902, 13)

### df 사업장명중 던킨도너츠 글자가 들어간 행 삭제

In [183]:
s_str('던킨도너츠')

Int64Index([ 1228,  3607,  4207, 10886, 11027, 11216, 11573, 11596, 12278,
            14657, 16869, 19202, 19465, 19504, 19954, 21515, 26396, 27347,
            27595, 27671, 27975, 27977, 28053, 28097, 28510, 28931, 28951,
            30460, 31155, 33791, 36418, 39514, 40345, 42689, 43269, 43823,
            44880, 44956, 46672, 49648, 50766, 50906, 51104, 53262, 55141,
            57689, 57941, 60118],
           dtype='int64')
(53854, 13)

### df 사업장명중 베스킨라빈스 글자가 들어간 행 삭제

In [184]:
s_str('베스킨라빈스')

Int64Index([  979,  3957,  4263,  4882,  5834,  8129,  8776,  8952,  9087,
             9192,  9461,  9877,  9996, 10431, 10651, 10834, 10900, 11147,
            11240, 11551, 11629, 11743, 12352, 12381, 12659, 12670, 15831,
            15879, 17109, 17134, 17212, 17711, 17763, 18372, 19363, 19744,
            19756, 21021, 21141, 21159, 21249, 22148, 22273, 23100, 23401,
            23746, 23854, 25500, 27530, 27596, 27604, 27650, 28691, 28939,
            29044, 30638, 30681, 30733, 31492, 32194, 33387, 33683, 36683,
            37373, 37380, 37855, 37900, 38254, 38943, 39553, 40748, 40845,
            41527, 42635, 49401, 49798, 50135, 50963, 51107, 52768, 52933,
            53166, 54942, 55201, 56127, 56502, 57942, 58324, 60542, 61154],
           dtype='int64')
(53764, 13)

### df 사업장명중 상회 글자가 들어간 행 삭제

In [185]:
s_str('상회')

Int64Index([ 1268,  1282,  4092,  7296, 10194, 15869, 18020, 18328, 20847,
            21164, 22676, 26015, 27374, 29376, 38327, 42357, 47188, 48368,
            50654, 50682, 54607, 54920, 55622, 56516, 58536, 59593],
           dtype='int64')
(53738, 13)

### df 사업장명중 버거 글자가 들어간 행 삭제

In [186]:
s_str('버거')

Int64Index([ 1343,  1923,  2079,  3040,  3395,  3775,  4153,  4187,  5175,
             5968,  6047,  6315,  6445,  7888,  8278,  8502,  9509, 10434,
            11211, 12245, 13959, 14501, 15442, 15561, 15808, 16231, 16913,
            17187, 17436, 19121, 19655, 19771, 20273, 20431, 21739, 22257,
            22493, 22900, 23249, 24033, 24172, 25392, 26867, 28277, 28971,
            33114, 34085, 36534, 37126, 37276, 37485, 40908, 41219, 41807,
            42583, 45608, 46016, 47852, 49471, 49662, 49990, 50147, 50233,
            50276, 50575, 51026, 51481, 52134, 53265, 54185, 55404, 56836,
            57563, 57601, 57812, 58271, 58563, 58942, 59087, 59954, 60030,
            60421, 60756, 61479, 61610, 61752, 62041],
           dtype='int64')
(53651, 13)

### df 사업장명중 사주카페 글자가 들어간 행 삭제

In [187]:
s_str('사주카페')

Int64Index([ 1002,  1816,  2723,  3972,  4580,  4594,  5314,  5915, 11964,
            19164, 21107, 21648, 21981, 22978, 23076, 23855, 23859, 25514,
            36151, 41975, 45984, 51387, 54495, 54831],
           dtype='int64')
(53627, 13)

### df 사업장명중 아트센터 글자가 들어간 행 삭제

In [188]:
s_str('아트센터')

Int64Index([545, 615, 1938, 25958, 27232, 32099, 32100, 40439, 40727, 52832,
            56458],
           dtype='int64')
(53616, 13)

In [189]:
a = df[df['사업장명'].str.contains('커피')].index
a

Int64Index([   27,    33,    34,    49,    52,    53,    54,    59,    63,
               74,
            ...
            63301, 63307, 63311, 63314, 63320, 63321, 63329, 63343, 63347,
            63348],
           dtype='int64', length=10332)

In [190]:
b = df[df['사업장명'].str.contains('스타벅스')].index
b

Int64Index([    0,    77,   112,   127,   139,   209,   238,   241,   281,
              414,
            ...
            62296, 62443, 62459, 62542, 62704, 62805, 62835, 62876, 63205,
            63277],
           dtype='int64', length=660)

In [191]:
c = df[df['사업장명'].str.contains('커피빈')].index
c

Int64Index([   75,    78,   353,   734,   779,   936,  1000,  1047,  1109,
             1212,
            ...
            62907, 62908, 62911, 62913, 62914, 62915, 62916, 62917, 62919,
            62920],
           dtype='int64', length=338)

In [192]:
d = df[df['사업장명'].str.contains('빽다방')].index
d

Int64Index([  216,   247,   556,  3784,  4003,  4487,  6031,  7398,  7499,
             7553,
            ...
            62354, 62421, 62493, 62584, 62697, 62815, 62922, 62963, 63222,
            63281],
           dtype='int64', length=166)

In [193]:
e = df[df['사업장명'].str.contains('공차')].index
e

Int64Index([  149,   268,   394,   635,  1279,  1286,  1349,  2006,  2013,
             2069,
            ...
            60822, 61378, 62208, 62386, 62401, 62696, 62762, 62888, 63163,
            63308],
           dtype='int64', length=226)

In [194]:
f = df[df['사업장명'].str.contains('카페')].index
f

Int64Index([    2,    15,    17,    18,    20,    22,    46,    51,    65,
               67,
            ...
            63264, 63270, 63282, 63293, 63296, 63302, 63318, 63333, 63335,
            63346],
           dtype='int64', length=6386)

In [195]:
g = df[df['사업장명'].str.contains('띠아모')].index
g

Int64Index([  833,  2126,  2485,  3720,  5231,  5251,  5285,  5286,  5751,
             5827,  9069,  9158, 10910, 10914, 11692, 12289, 13470, 15526,
            16243, 16411, 16798, 17121, 18480, 18858, 19382, 19438, 19462,
            20006, 21490, 22654, 22770, 25426, 25467, 26834, 27890, 27963,
            28127, 28413, 28964, 29278, 29681, 29909, 30682, 30944, 31525,
            31827, 35285, 38724, 43097, 43644, 44449, 44608, 45038, 47462,
            47801, 49356, 60297, 63137],
           dtype='int64')

In [196]:
h = df[df['사업장명'].str.contains('cafe')].index
h

Int64Index([  329,   449,   465,   520,   581,   624,   732,   835,   842,
             1049,
            ...
            62209, 62234, 62337, 62635, 62641, 62829, 62848, 62864, 63181,
            63230],
           dtype='int64', length=564)

In [197]:
i = df[df['사업장명'].str.contains('할리스')].index
i

Int64Index([   34,   678,   724,   790,   933,  1752,  1897,  2023,  2500,
             2501,
            ...
            60338, 60737, 60744, 61376, 61426, 61621, 61723, 62596, 62857,
            63289],
           dtype='int64', length=277)

In [198]:
j = df[df['사업장명'].str.contains('이디야')].index
j

Int64Index([   25,   101,   236,   249,   264,   311,   342,   368,   461,
              488,
            ...
            62786, 62816, 62882, 63016, 63119, 63157, 63185, 63253, 63286,
            63300],
           dtype='int64', length=733)

In [199]:
k = df[df['사업장명'].str.contains('투썸')].index
k

Int64Index([   26,    94,    96,   177,   211,   218,   335,   707,   857,
              896,
            ...
            62512, 62527, 62552, 62678, 62686, 62827, 62896, 63231, 63267,
            63285],
           dtype='int64', length=356)

In [200]:
l = df[df['사업장명'].str.contains('메가엠지씨커피')].index
l

Int64Index([  118,   135,   173,   641,   811,  3654,  3664,  4312,  7476,
             8870,
            ...
            62748, 62803, 62842, 62859, 62862, 63081, 63099, 63189, 63204,
            63314],
           dtype='int64', length=213)

In [201]:
m = df[df['사업장명'].str.contains('메가MGC')].index
m

Int64Index([24817, 56635, 62193], dtype='int64')

In [202]:
#df.to_csv('서울시커피숍.csv', index=False, encoding='cp949')