In [1]:
import pandas as pd
import numpy as np

In [17]:
import warnings

In [18]:
warnings.filterwarnings(action='ignore')

In [2]:
df = pd.read_csv("seoul_coffee_ver04.csv", encoding='cp949')
df

,인허가일자,영업상태명,상세영업상태코드,상세영업상태명,폐업일자,소재지면적,지번주소,도로명주소,사업장명,업태구분명,long,lat
0,20200713,영업/정상,1,영업,NaN,329.89,서울특별시 송파구 방이동 44-3 현대토픽스,서울특별시 송파구 위례성대로 6 1층 (방이동),스타벅스 몽촌토성역점,커피숍,127.113106,37.516942
1,20200713,영업/정상,1,영업,NaN,26.00,서울특별시 동대문구 전농동 38-104,서울특별시 동대문구 전농로16길 54 1층 (전농동),Min's coffee,커피숍,127.060378,37.578112
2,20200713,영업/정상,1,영업,NaN,15.46,서울특별시 강서구 마곡동 773 힐스테이트에코마곡역 302호,서울특별시 강서구 마곡중앙로 76 힐스테이트에코마곡역 3층 302호 (마곡동),티오르카페,커피숍,126.827523,37.560416
3,20200713,영업/정상,1,영업,NaN,247.50,서울특별시 성북구 성북동 8-28,서울특별시 성북구 선잠로2다길 13-13 지하1층 (성북동),오버스토리,커피숍,126.999678,37.598753
4,20200713,영업/정상,1,영업,NaN,38.55,서울특별시 용산구 한강로3가 40-605,서울특별시 용산구 한강대로7길 6 1층 (한강로3가),라라,커피숍,126.962546,37.524286
...,...,...,...,...,...,...,...,...,...,...,...,...
47232,20110401,폐업,2,폐업,20200731.0,66.00,서울특별시송파구문정동516-0,서울특별시 송파구 충민로 66 (문정동 가든파이브 Y-7044~7046 ),카페 0 (young),기타 휴게음식점,127.120493,37.485106
47233,20190503,폐업,2,폐업,20200803.0,52.67,서울특별시용산구효창동13-2,서울특별시 용산구 백범로 313 지하3층 113호 (효창동 용산 롯데캐슬 센터포레),카페 다(Cafe DA),기타 휴게음식점,126.963058,37.539195
47234,20120716,폐업,2,폐업,20200320.0,11.00,서울특별시종로구관철동44,NaN,C cafe 종각점,기타 휴게음식점,126.983928,37.569397
47235,20190919,영업/정상,1,영업,NaN,57.72,서울특별시마포구신수동93-102,서울특별시 마포구 광성로 17 1층 118호 (신수동 신촌숲아이파크),이디야 신촌숲아이파크점,기타 휴게음식점,126.934678,37.550913
47236,20100920,폐업,2,폐업,20140212.0,165.91,서울특별시송파구문정동516,서울특별시 송파구 충민로 66 (문정동 가든파이브 가블럭 T-B1070 T-B1071 ),엔제리너스 가든파이브점,기타 휴게음식점,127.124998,37.477578

## 30 대 프랜차이즈 열 찾기 (프랜차이즈 1, 일반 0)

In [3]:
quality_up = ['스타벅스','투썸','폴바셋','할리스','커피빈','엔제리너스','파스쿠찌','탐앤탐스','카페베네','달콤커피','드롭탑','명가커피','커피스미스','전광수커피','빈스빈스','카페보니또']

In [4]:
franchise = ['스타벅스','투썸','메가엠지씨','이디야','빽다방','폴바셋','할리스','커피빈','엔제리너스','파스쿠찌','커피나무','커피베이','탐앤탐스','카페베네','더착한커피','만랩커피','달콤커피','커피에반하다','셀렉토','메머드','드롭탑','명가커피','커피스미스','커피마마','토프레소','전광수커피','빈스빈스','더카페','그라찌에','카페보니또']

In [5]:
li_franchise =[]
for i in franchise:
    li_franchise.append(df['사업장명'].str.contains(i))

li_franchise

[0         True
 1        False
 2        False
 3        False
 4        False
          ...
 47232    False
 47233    False
 47234    False
 47235    False
 47236    False
 Name: 사업장명, Length: 47237, dtype: bool,
 0        False
 1        False
 2        False
 3        False
 4        False
          ...
 47232    False
 47233    False
 47234    False
 47235    False
 47236    False
 Name: 사업장명, Length: 47237, dtype: bool,
 0        False
 1        False
 2        False
 3        False
 4        False
          ...
 47232    False
 47233    False
 47234    False
 47235    False
 47236    False
 Name: 사업장명, Length: 47237, dtype: bool,
 0        False
 1        False
 2        False
 3        False
 4        False
          ...
 47232    False
 47233    False
 47234    False
 47235     True
 47236    False
 Name: 사업장명, Length: 47237, dtype: bool,
 0        False
 1        False
 2        False
 3        False
 4        False
          ...
 47232    False
 47233    False
 47234    False
 47235    False
 47236    False
 Name: 사업장명, Length: 47237, dtype: bool,
 0        False
 1        False
 2        False
 3        False
 4        False
          ...
 47232    False
 47233    False
 47234    False
 47235    False
 47236    False
 Name: 사업장명, Length: 47237, dtype: bool,
 0        False
 1        False
 2        False
 3        False
 4        False
          ...
 47232    False
 47233    False
 47234    False
 47235    False
 47236    False
 Name: 사업장명, Length: 47237, dtype: bool,
 0        False
 1        False
 2        False
 3        False
 4        False
          ...
 47232    False
 47233    False
 47234    False
 47235    False
 47236    False
 Name: 사업장명, Length: 47237, dtype: bool,
 0        False
 1        False
 2        False
 3        False
 4        False
          ...
 47232    False
 47233    False
 47234    False
 47235    False
 47236     True
 Name: 사업장명, Length: 47237, dtype: bool,
 0        False
 1        False
 2        False
 3        False
 4        False
          ...
 47232    False
 47233    False
 47234    False
 47235    False
 47236    False
 Name: 사업장명, Length: 47237, dtype: bool,
 0        False
 1        False
 2        False
 3        False
 4        False
          ...
 47232    False
 47233    False
 47234    False
 47235    False
 47236    False
 Name: 사업장명, Length: 47237, dtype: bool,
 0        False
 1        False
 2        False
 3        False
 4        False
          ...
 47232    False
 47233    False
 47234    False
 47235    False
 47236    False
 Name: 사업장명, Length: 47237, dtype: bool,
 0        False
 1        False
 2        False
 3        False
 4        False
          ...
 47232    False
 47233    False
 47234    False
 47235    False
 47236    False
 Name: 사업장명, Length: 47237, dtype: bool,
 0        False
 1        False
 2        False
 3        False
 4        False
          ...
 47232    False
 47233    False
 47234    False
 47235    False
 47236    False
 Name: 사업장명, Length: 47237, dtype: bool,
 0        False
 1        False
 2        False
 3        False
 4        False
          ...
 47232    False
 47233    False
 47234    False
 47235    False
 47236    False
 Name: 사업장명, Length: 47237, dtype: bool,
 0        False
 1        False
 2        False
 3        False
 4        False
          ...
 47232    False
 47233    False
 47234    False
 47235    False
 47236    False
 Name: 사업장명, Length: 47237, dtype: bool,
 0        False
 1        False
 2        False
 3        False
 4        False
          ...
 47232    False
 47233    False
 47234    False
 47235    False
 47236    False
 Name: 사업장명, Length: 47237, dtype: bool,
 0        False
 1        False
 2        False
 3        False
 4        False
          ...
 47232    False
 47233    False
 47234    False
 47235    False
 47236    False
 Name: 사업장명, Length: 47237, dtype: bool,
 0        False
 1        False
 2        False
 3        False
 4        False
          ...
 47232    False
 47233    False
 47234    False
 47235    False
 47236    False
 Name: 사업장명, Length: 47237, dtype: bool,
 0        False
 1        False
 2        False
 3        False
 4        False
          ...
 47232    False
 47233    False
 47234    False
 47235    False
 47236    False
 Name: 사업장명, Length: 47237, dtype: bool,
 0        False
 1        False
 2        False
 3        False
 4        False
          ...
 47232    False
 47233    False
 47234    False
 47235    False
 47236    False
 Name: 사업장명, Length: 47237, dtype: bool,
 0        False
 1        False
 2        False
 3        False
 4        False
          ...
 47232    False
 47233    False
 47234    False
 47235    False
 47236    False
 Name: 사업장명, Length: 47237, dtype: bool,
 0        False
 1        False
 2        False
 3        False
 4        False
          ...
 47232    False
 47233    False
 47234    False
 47235    False
 47236    False
 Name: 사업장명, Length: 47237, dtype: bool,
 0        False
 1        False
 2        False
 3        False
 4        False
          ...
 47232    False
 47233    False
 47234    False
 47235    False
 47236    False
 Name: 사업장명, Length: 47237, dtype: bool,
 0        False
 1        False
 2        False
 3        False
 4        False
          ...
 47232    False
 47233    False
 47234    False
 47235    False
 47236    False
 Name: 사업장명, Length: 47237, dtype: bool,
 0        False
 1        False
 2        False
 3        False
 4        False
          ...
 47232    False
 47233    False
 47234    False
 47235    False
 47236    False
 Name: 사업장명, Length: 47237, dtype: bool,
 0        False
 1        False
 2        False
 3        False
 4        False
          ...
 47232    False
 47233    False
 47234    False
 47235    False
 47236    False
 Name: 사업장명, Length: 47237, dtype: bool,
 0        False
 1        False
 2        False
 3        False
 4        False
          ...
 47232    False
 47233    False
 47234    False
 47235    False
 47236    False
 Name: 사업장명, Length: 47237, dtype: bool,
 0        False
 1        False
 2        False
 3        False
 4        False
          ...
 47232    False
 47233    False
 47234    False
 47235    False
 47236    False
 Name: 사업장명, Length: 47237, dtype: bool,
 0        False
 1        False
 2        False
 3        False
 4        False
          ...
 47232    False
 47233    False
 47234    False
 47235    False
 47236    False
 Name: 사업장명, Length: 47237, dtype: bool]

In [6]:
li_franchise[0]

0         True
1        False
2        False
3        False
4        False
         ...
47232    False
47233    False
47234    False
47235    False
47236    False
Name: 사업장명, Length: 47237, dtype: bool

In [7]:
df_li = pd.DataFrame(li_franchise).T
df_li

,사업장명,사업장명,사업장명,사업장명,사업장명,사업장명,사업장명,사업장명,사업장명,사업장명,...,사업장명,사업장명,사업장명,사업장명,사업장명,사업장명,사업장명,사업장명,사업장명,사업장명
0,True,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
47232,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
47233,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
47234,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
47235,False,False,False,True,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
47236,False,False,False,False,False,False,False,False,True,False,...,False,False,False,False,False,False,False,False,False,False

In [8]:
df_li.columns = franchise

In [9]:
df_li

,스타벅스,투썸,메가엠지씨,이디야,빽다방,폴바셋,할리스,커피빈,엔제리너스,파스쿠찌,...,드롭탑,명가커피,커피스미스,커피마마,토프레소,전광수커피,빈스빈스,더카페,그라찌에,카페보니또
0,True,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
47232,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
47233,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
47234,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
47235,False,False,False,True,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
47236,False,False,False,False,False,False,False,False,True,False,...,False,False,False,False,False,False,False,False,False,False

In [10]:
df_li.values[0]

array([ True, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False])

In [11]:
range(len(df_li.index))

range(0, 47237)

### 연습

In [75]:
df_li2 = df_li.iloc[:5].copy()
df_li2

,스타벅스,투썸,메가엠지씨,이디야,빽다방,폴바셋,할리스,커피빈,엔제리너스,파스쿠찌,...,명가커피,커피스미스,커피마마,토프레소,전광수커피,빈스빈스,더카페,그라찌에,카페보니또,franchise
0,True,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,0
1,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,0
2,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,0
3,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,0
4,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,0

In [62]:
df_li2.iloc[0,0]

True

In [67]:
range(len(df_li2.columns))

range(0, 31)

In [76]:
for i in range(len(df_li2.columns)):
    for j in range(len(df_li2.index)):
        if df_li2.iloc[j,i] == True:
            df_li2.iloc[j,i] = 1
            break
        else:
            df_li2.iloc[j,i] = 0
df_li2

,스타벅스,투썸,메가엠지씨,이디야,빽다방,폴바셋,할리스,커피빈,엔제리너스,파스쿠찌,...,명가커피,커피스미스,커피마마,토프레소,전광수커피,빈스빈스,더카페,그라찌에,카페보니또,franchise
0,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [78]:
df_li2['franchise'] = df_li2.sum(axis=1)
df_li2

,스타벅스,투썸,메가엠지씨,이디야,빽다방,폴바셋,할리스,커피빈,엔제리너스,파스쿠찌,...,명가커피,커피스미스,커피마마,토프레소,전광수커피,빈스빈스,더카페,그라찌에,카페보니또,franchise
0,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1.0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0.0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0.0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0.0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0.0

### 실데이터 적용

In [79]:
for i in range(len(df_li.columns)):
    for j in range(len(df_li.index)):
        if df_li.iloc[j,i] == True:
            df_li.iloc[j,i] = 1
        else:
            df_li.iloc[j,i] = 0
df_li

,스타벅스,투썸,메가엠지씨,이디야,빽다방,폴바셋,할리스,커피빈,엔제리너스,파스쿠찌,...,명가커피,커피스미스,커피마마,토프레소,전광수커피,빈스빈스,더카페,그라찌에,카페보니또,franchise
0,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
47232,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
47233,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
47234,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
47235,0,0,0,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
47236,0,0,0,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0

In [80]:
df_li['franchise'] = df_li.sum(axis=1)
df_li

,스타벅스,투썸,메가엠지씨,이디야,빽다방,폴바셋,할리스,커피빈,엔제리너스,파스쿠찌,...,명가커피,커피스미스,커피마마,토프레소,전광수커피,빈스빈스,더카페,그라찌에,카페보니또,franchise
0,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1.0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0.0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0.0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0.0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
47232,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0.0
47233,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0.0
47234,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0.0
47235,0,0,0,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1.0
47236,0,0,0,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,1.0

## 작업 완료한 franchise 컬럼 붙이기

In [82]:
df_franchise = df_li['franchise']
df_franchise

0        1.0
1        0.0
2        0.0
3        0.0
4        0.0
        ...
47232    0.0
47233    0.0
47234    0.0
47235    1.0
47236    1.0
Name: franchise, Length: 47237, dtype: float64

In [80]:
np.any(list_franchise == 1)

False

In [101]:
df1 = pd.concat([df,df_franchise], axis=1)
df1

,인허가일자,영업상태명,상세영업상태코드,상세영업상태명,폐업일자,소재지면적,지번주소,도로명주소,사업장명,업태구분명,long,lat,franchise
0,20200713,영업/정상,1,영업,NaN,329.89,서울특별시 송파구 방이동 44-3 현대토픽스,서울특별시 송파구 위례성대로 6 1층 (방이동),스타벅스 몽촌토성역점,커피숍,127.113106,37.516942,1.0
1,20200713,영업/정상,1,영업,NaN,26.00,서울특별시 동대문구 전농동 38-104,서울특별시 동대문구 전농로16길 54 1층 (전농동),Min's coffee,커피숍,127.060378,37.578112,0.0
2,20200713,영업/정상,1,영업,NaN,15.46,서울특별시 강서구 마곡동 773 힐스테이트에코마곡역 302호,서울특별시 강서구 마곡중앙로 76 힐스테이트에코마곡역 3층 302호 (마곡동),티오르카페,커피숍,126.827523,37.560416,0.0
3,20200713,영업/정상,1,영업,NaN,247.50,서울특별시 성북구 성북동 8-28,서울특별시 성북구 선잠로2다길 13-13 지하1층 (성북동),오버스토리,커피숍,126.999678,37.598753,0.0
4,20200713,영업/정상,1,영업,NaN,38.55,서울특별시 용산구 한강로3가 40-605,서울특별시 용산구 한강대로7길 6 1층 (한강로3가),라라,커피숍,126.962546,37.524286,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
47232,20110401,폐업,2,폐업,20200731.0,66.00,서울특별시송파구문정동516-0,서울특별시 송파구 충민로 66 (문정동 가든파이브 Y-7044~7046 ),카페 0 (young),기타 휴게음식점,127.120493,37.485106,0.0
47233,20190503,폐업,2,폐업,20200803.0,52.67,서울특별시용산구효창동13-2,서울특별시 용산구 백범로 313 지하3층 113호 (효창동 용산 롯데캐슬 센터포레),카페 다(Cafe DA),기타 휴게음식점,126.963058,37.539195,0.0
47234,20120716,폐업,2,폐업,20200320.0,11.00,서울특별시종로구관철동44,NaN,C cafe 종각점,기타 휴게음식점,126.983928,37.569397,0.0
47235,20190919,영업/정상,1,영업,NaN,57.72,서울특별시마포구신수동93-102,서울특별시 마포구 광성로 17 1층 118호 (신수동 신촌숲아이파크),이디야 신촌숲아이파크점,기타 휴게음식점,126.934678,37.550913,1.0
47236,20100920,폐업,2,폐업,20140212.0,165.91,서울특별시송파구문정동516,서울특별시 송파구 충민로 66 (문정동 가든파이브 가블럭 T-B1070 T-B1071 ),엔제리너스 가든파이브점,기타 휴게음식점,127.124998,37.477578,1.0

In [102]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 47237 entries, 0 to 47236
Data columns (total 13 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   인허가일자      47237 non-null  int64
 1   영업상태명      47237 non-null  object
 2   상세영업상태코드   47237 non-null  int64
 3   상세영업상태명    47237 non-null  object
 4   폐업일자       31236 non-null  float64
 5   소재지면적      43707 non-null  float64
 6   지번주소       47237 non-null  object
 7   도로명주소      29871 non-null  object
 8   사업장명       47237 non-null  object
 9   업태구분명      47237 non-null  object
 10  long       47237 non-null  float64
 11  lat        47237 non-null  float64
 12  franchise  47237 non-null  float64
dtypes: float64(5), int64(2), object(6)
memory usage: 4.7+ MB

## 컬럼명 변경

In [103]:
df2 = df1.copy()

In [104]:
for i in range(len(df2.index)):
    if df2.loc[i, '상세영업상태코드'] == 2:
        df2.loc[i, '상세영업상태코드'] = 0
    else:
        df2.loc[i, '상세영업상태코드'] = 1
df2

,인허가일자,영업상태명,상세영업상태코드,상세영업상태명,폐업일자,소재지면적,지번주소,도로명주소,사업장명,업태구분명,long,lat,franchise
0,20200713,영업/정상,1,영업,NaN,329.89,서울특별시 송파구 방이동 44-3 현대토픽스,서울특별시 송파구 위례성대로 6 1층 (방이동),스타벅스 몽촌토성역점,커피숍,127.113106,37.516942,1.0
1,20200713,영업/정상,1,영업,NaN,26.00,서울특별시 동대문구 전농동 38-104,서울특별시 동대문구 전농로16길 54 1층 (전농동),Min's coffee,커피숍,127.060378,37.578112,0.0
2,20200713,영업/정상,1,영업,NaN,15.46,서울특별시 강서구 마곡동 773 힐스테이트에코마곡역 302호,서울특별시 강서구 마곡중앙로 76 힐스테이트에코마곡역 3층 302호 (마곡동),티오르카페,커피숍,126.827523,37.560416,0.0
3,20200713,영업/정상,1,영업,NaN,247.50,서울특별시 성북구 성북동 8-28,서울특별시 성북구 선잠로2다길 13-13 지하1층 (성북동),오버스토리,커피숍,126.999678,37.598753,0.0
4,20200713,영업/정상,1,영업,NaN,38.55,서울특별시 용산구 한강로3가 40-605,서울특별시 용산구 한강대로7길 6 1층 (한강로3가),라라,커피숍,126.962546,37.524286,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
47232,20110401,폐업,0,폐업,20200731.0,66.00,서울특별시송파구문정동516-0,서울특별시 송파구 충민로 66 (문정동 가든파이브 Y-7044~7046 ),카페 0 (young),기타 휴게음식점,127.120493,37.485106,0.0
47233,20190503,폐업,0,폐업,20200803.0,52.67,서울특별시용산구효창동13-2,서울특별시 용산구 백범로 313 지하3층 113호 (효창동 용산 롯데캐슬 센터포레),카페 다(Cafe DA),기타 휴게음식점,126.963058,37.539195,0.0
47234,20120716,폐업,0,폐업,20200320.0,11.00,서울특별시종로구관철동44,NaN,C cafe 종각점,기타 휴게음식점,126.983928,37.569397,0.0
47235,20190919,영업/정상,1,영업,NaN,57.72,서울특별시마포구신수동93-102,서울특별시 마포구 광성로 17 1층 118호 (신수동 신촌숲아이파크),이디야 신촌숲아이파크점,기타 휴게음식점,126.934678,37.550913,1.0
47236,20100920,폐업,0,폐업,20140212.0,165.91,서울특별시송파구문정동516,서울특별시 송파구 충민로 66 (문정동 가든파이브 가블럭 T-B1070 T-B1071 ),엔제리너스 가든파이브점,기타 휴게음식점,127.124998,37.477578,1.0

In [106]:
df2.rename(columns={'상세영업상태코드':'영업상태코드'}, inplace=True)
df2

,인허가일자,영업상태명,영업상태코드,상세영업상태명,폐업일자,소재지면적,지번주소,도로명주소,사업장명,업태구분명,long,lat,franchise
0,20200713,영업/정상,1,영업,NaN,329.89,서울특별시 송파구 방이동 44-3 현대토픽스,서울특별시 송파구 위례성대로 6 1층 (방이동),스타벅스 몽촌토성역점,커피숍,127.113106,37.516942,1.0
1,20200713,영업/정상,1,영업,NaN,26.00,서울특별시 동대문구 전농동 38-104,서울특별시 동대문구 전농로16길 54 1층 (전농동),Min's coffee,커피숍,127.060378,37.578112,0.0
2,20200713,영업/정상,1,영업,NaN,15.46,서울특별시 강서구 마곡동 773 힐스테이트에코마곡역 302호,서울특별시 강서구 마곡중앙로 76 힐스테이트에코마곡역 3층 302호 (마곡동),티오르카페,커피숍,126.827523,37.560416,0.0
3,20200713,영업/정상,1,영업,NaN,247.50,서울특별시 성북구 성북동 8-28,서울특별시 성북구 선잠로2다길 13-13 지하1층 (성북동),오버스토리,커피숍,126.999678,37.598753,0.0
4,20200713,영업/정상,1,영업,NaN,38.55,서울특별시 용산구 한강로3가 40-605,서울특별시 용산구 한강대로7길 6 1층 (한강로3가),라라,커피숍,126.962546,37.524286,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
47232,20110401,폐업,0,폐업,20200731.0,66.00,서울특별시송파구문정동516-0,서울특별시 송파구 충민로 66 (문정동 가든파이브 Y-7044~7046 ),카페 0 (young),기타 휴게음식점,127.120493,37.485106,0.0
47233,20190503,폐업,0,폐업,20200803.0,52.67,서울특별시용산구효창동13-2,서울특별시 용산구 백범로 313 지하3층 113호 (효창동 용산 롯데캐슬 센터포레),카페 다(Cafe DA),기타 휴게음식점,126.963058,37.539195,0.0
47234,20120716,폐업,0,폐업,20200320.0,11.00,서울특별시종로구관철동44,NaN,C cafe 종각점,기타 휴게음식점,126.983928,37.569397,0.0
47235,20190919,영업/정상,1,영업,NaN,57.72,서울특별시마포구신수동93-102,서울특별시 마포구 광성로 17 1층 118호 (신수동 신촌숲아이파크),이디야 신촌숲아이파크점,기타 휴게음식점,126.934678,37.550913,1.0
47236,20100920,폐업,0,폐업,20140212.0,165.91,서울특별시송파구문정동516,서울특별시 송파구 충민로 66 (문정동 가든파이브 가블럭 T-B1070 T-B1071 ),엔제리너스 가든파이브점,기타 휴게음식점,127.124998,37.477578,1.0

## 폐업일자 컬럼에 영업중인곳에 0 채우기

In [109]:
df2['폐업일자'] = df2['폐업일자'].replace(np.nan, 0)
df2

,인허가일자,영업상태명,영업상태코드,상세영업상태명,폐업일자,소재지면적,지번주소,도로명주소,사업장명,업태구분명,long,lat,franchise
0,20200713,영업/정상,1,영업,0.0,329.89,서울특별시 송파구 방이동 44-3 현대토픽스,서울특별시 송파구 위례성대로 6 1층 (방이동),스타벅스 몽촌토성역점,커피숍,127.113106,37.516942,1.0
1,20200713,영업/정상,1,영업,0.0,26.00,서울특별시 동대문구 전농동 38-104,서울특별시 동대문구 전농로16길 54 1층 (전농동),Min's coffee,커피숍,127.060378,37.578112,0.0
2,20200713,영업/정상,1,영업,0.0,15.46,서울특별시 강서구 마곡동 773 힐스테이트에코마곡역 302호,서울특별시 강서구 마곡중앙로 76 힐스테이트에코마곡역 3층 302호 (마곡동),티오르카페,커피숍,126.827523,37.560416,0.0
3,20200713,영업/정상,1,영업,0.0,247.50,서울특별시 성북구 성북동 8-28,서울특별시 성북구 선잠로2다길 13-13 지하1층 (성북동),오버스토리,커피숍,126.999678,37.598753,0.0
4,20200713,영업/정상,1,영업,0.0,38.55,서울특별시 용산구 한강로3가 40-605,서울특별시 용산구 한강대로7길 6 1층 (한강로3가),라라,커피숍,126.962546,37.524286,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
47232,20110401,폐업,0,폐업,20200731.0,66.00,서울특별시송파구문정동516-0,서울특별시 송파구 충민로 66 (문정동 가든파이브 Y-7044~7046 ),카페 0 (young),기타 휴게음식점,127.120493,37.485106,0.0
47233,20190503,폐업,0,폐업,20200803.0,52.67,서울특별시용산구효창동13-2,서울특별시 용산구 백범로 313 지하3층 113호 (효창동 용산 롯데캐슬 센터포레),카페 다(Cafe DA),기타 휴게음식점,126.963058,37.539195,0.0
47234,20120716,폐업,0,폐업,20200320.0,11.00,서울특별시종로구관철동44,NaN,C cafe 종각점,기타 휴게음식점,126.983928,37.569397,0.0
47235,20190919,영업/정상,1,영업,0.0,57.72,서울특별시마포구신수동93-102,서울특별시 마포구 광성로 17 1층 118호 (신수동 신촌숲아이파크),이디야 신촌숲아이파크점,기타 휴게음식점,126.934678,37.550913,1.0
47236,20100920,폐업,0,폐업,20140212.0,165.91,서울특별시송파구문정동516,서울특별시 송파구 충민로 66 (문정동 가든파이브 가블럭 T-B1070 T-B1071 ),엔제리너스 가든파이브점,기타 휴게음식점,127.124998,37.477578,1.0

In [108]:
df2

,인허가일자,영업상태명,영업상태코드,상세영업상태명,폐업일자,소재지면적,지번주소,도로명주소,사업장명,업태구분명,long,lat,franchise
0,20200713,영업/정상,1,영업,NaN,329.89,서울특별시 송파구 방이동 44-3 현대토픽스,서울특별시 송파구 위례성대로 6 1층 (방이동),스타벅스 몽촌토성역점,커피숍,127.113106,37.516942,1.0
1,20200713,영업/정상,1,영업,NaN,26.00,서울특별시 동대문구 전농동 38-104,서울특별시 동대문구 전농로16길 54 1층 (전농동),Min's coffee,커피숍,127.060378,37.578112,0.0
2,20200713,영업/정상,1,영업,NaN,15.46,서울특별시 강서구 마곡동 773 힐스테이트에코마곡역 302호,서울특별시 강서구 마곡중앙로 76 힐스테이트에코마곡역 3층 302호 (마곡동),티오르카페,커피숍,126.827523,37.560416,0.0
3,20200713,영업/정상,1,영업,NaN,247.50,서울특별시 성북구 성북동 8-28,서울특별시 성북구 선잠로2다길 13-13 지하1층 (성북동),오버스토리,커피숍,126.999678,37.598753,0.0
4,20200713,영업/정상,1,영업,NaN,38.55,서울특별시 용산구 한강로3가 40-605,서울특별시 용산구 한강대로7길 6 1층 (한강로3가),라라,커피숍,126.962546,37.524286,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
47232,20110401,폐업,0,폐업,20200731.0,66.00,서울특별시송파구문정동516-0,서울특별시 송파구 충민로 66 (문정동 가든파이브 Y-7044~7046 ),카페 0 (young),기타 휴게음식점,127.120493,37.485106,0.0
47233,20190503,폐업,0,폐업,20200803.0,52.67,서울특별시용산구효창동13-2,서울특별시 용산구 백범로 313 지하3층 113호 (효창동 용산 롯데캐슬 센터포레),카페 다(Cafe DA),기타 휴게음식점,126.963058,37.539195,0.0
47234,20120716,폐업,0,폐업,20200320.0,11.00,서울특별시종로구관철동44,NaN,C cafe 종각점,기타 휴게음식점,126.983928,37.569397,0.0
47235,20190919,영업/정상,1,영업,NaN,57.72,서울특별시마포구신수동93-102,서울특별시 마포구 광성로 17 1층 118호 (신수동 신촌숲아이파크),이디야 신촌숲아이파크점,기타 휴게음식점,126.934678,37.550913,1.0
47236,20100920,폐업,0,폐업,20140212.0,165.91,서울특별시송파구문정동516,서울특별시 송파구 충민로 66 (문정동 가든파이브 가블럭 T-B1070 T-B1071 ),엔제리너스 가든파이브점,기타 휴게음식점,127.124998,37.477578,1.0

## 컬럼명 정리

In [113]:
df2.drop(['도로명주소'], axis= 1, inplace=True)

In [114]:
df2

,인허가일자,영업상태명,영업상태코드,상세영업상태명,폐업일자,소재지면적,지번주소,사업장명,업태구분명,long,lat,franchise
0,20200713,영업/정상,1,영업,0.0,329.89,서울특별시 송파구 방이동 44-3 현대토픽스,스타벅스 몽촌토성역점,커피숍,127.113106,37.516942,1.0
1,20200713,영업/정상,1,영업,0.0,26.00,서울특별시 동대문구 전농동 38-104,Min's coffee,커피숍,127.060378,37.578112,0.0
2,20200713,영업/정상,1,영업,0.0,15.46,서울특별시 강서구 마곡동 773 힐스테이트에코마곡역 302호,티오르카페,커피숍,126.827523,37.560416,0.0
3,20200713,영업/정상,1,영업,0.0,247.50,서울특별시 성북구 성북동 8-28,오버스토리,커피숍,126.999678,37.598753,0.0
4,20200713,영업/정상,1,영업,0.0,38.55,서울특별시 용산구 한강로3가 40-605,라라,커피숍,126.962546,37.524286,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...
47232,20110401,폐업,0,폐업,20200731.0,66.00,서울특별시송파구문정동516-0,카페 0 (young),기타 휴게음식점,127.120493,37.485106,0.0
47233,20190503,폐업,0,폐업,20200803.0,52.67,서울특별시용산구효창동13-2,카페 다(Cafe DA),기타 휴게음식점,126.963058,37.539195,0.0
47234,20120716,폐업,0,폐업,20200320.0,11.00,서울특별시종로구관철동44,C cafe 종각점,기타 휴게음식점,126.983928,37.569397,0.0
47235,20190919,영업/정상,1,영업,0.0,57.72,서울특별시마포구신수동93-102,이디야 신촌숲아이파크점,기타 휴게음식점,126.934678,37.550913,1.0
47236,20100920,폐업,0,폐업,20140212.0,165.91,서울특별시송파구문정동516,엔제리너스 가든파이브점,기타 휴게음식점,127.124998,37.477578,1.0

In [115]:
df2.drop(['영업상태명', '상세영업상태명'], axis= 1, inplace=True)

In [116]:
df2

,인허가일자,영업상태코드,폐업일자,소재지면적,지번주소,사업장명,업태구분명,long,lat,franchise
0,20200713,1,0.0,329.89,서울특별시 송파구 방이동 44-3 현대토픽스,스타벅스 몽촌토성역점,커피숍,127.113106,37.516942,1.0
1,20200713,1,0.0,26.00,서울특별시 동대문구 전농동 38-104,Min's coffee,커피숍,127.060378,37.578112,0.0
2,20200713,1,0.0,15.46,서울특별시 강서구 마곡동 773 힐스테이트에코마곡역 302호,티오르카페,커피숍,126.827523,37.560416,0.0
3,20200713,1,0.0,247.50,서울특별시 성북구 성북동 8-28,오버스토리,커피숍,126.999678,37.598753,0.0
4,20200713,1,0.0,38.55,서울특별시 용산구 한강로3가 40-605,라라,커피숍,126.962546,37.524286,0.0
...,...,...,...,...,...,...,...,...,...,...
47232,20110401,0,20200731.0,66.00,서울특별시송파구문정동516-0,카페 0 (young),기타 휴게음식점,127.120493,37.485106,0.0
47233,20190503,0,20200803.0,52.67,서울특별시용산구효창동13-2,카페 다(Cafe DA),기타 휴게음식점,126.963058,37.539195,0.0
47234,20120716,0,20200320.0,11.00,서울특별시종로구관철동44,C cafe 종각점,기타 휴게음식점,126.983928,37.569397,0.0
47235,20190919,1,0.0,57.72,서울특별시마포구신수동93-102,이디야 신촌숲아이파크점,기타 휴게음식점,126.934678,37.550913,1.0
47236,20100920,0,20140212.0,165.91,서울특별시송파구문정동516,엔제리너스 가든파이브점,기타 휴게음식점,127.124998,37.477578,1.0

In [117]:
# df2.to_csv('seoul_coffee_ver05.csv', index=False, encoding='cp949')